{% extends 'common/base.html' %}
{% block title %} {{page_title}} {% endblock %}
{% block content %}
<style>
    .table td, .table th {
      /* padding: .75rem; */
      vertical-align: top;
      border-top: 1px solid #dee2e6;
      font-size: 14px;
      text-align: center;
      padding: 5px;
    
      }
     
  </style>
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Categories Table</h3>
              </div>
            
              <form method="GET" action="category-list">
                <div class="card-body">
                    <table id="ecategoryample2" class="table table-bordered table-hover">
                      <thead>
                      <tr>
                        <th>Id</th>
                        <th>Title</th>
                        <th>Category</th>
                        <th>Author</th>
                        <th>Picture</th>
                        <th>Description</th>
                        <th>Meta</th>
                        <th>Update</th>
                      </tr>
                      </thead>
                        <tbody>        
                       
                         {% for category in category_list %}
                          <tr>
                            <td>{{category.id}}</td>
                            <td>{{category.title}}</td>
                            <td>{{category.category}}</td>
                            <td>{{category.author}}</td>
                            <td>{{category.picture}}</td>
                            <td>{{category.description}}</td>
                            <td>{{category.meta}}</td>
                            <td><a class="fcc-btn" href="{% url 'edit-category' category.id %}">Edit</a></td> 
                          </tr> 
                          {% endfor %} 
                         
                        </tbody>
                    </table>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
   
{% endblock %}