* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

a.yellow-btn,
button.yellow-btn {
    border-radius: 5px;
    background: #F93;
    padding: 8px 22px;
    color: #fff;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    line-height: 20px !important;
    border: 2px solid #F93;
    font-weight: 600;
    -webkit-transition: all .5s cubic-bezier(0.4, 0, 1, 1);
    transition: all .5s cubic-bezier(0.4, 0, 1, 1);
}

a.white-btn {
    border-radius: 5px;
    background: transparent;
    padding: 8px 22px;
    color: #fff;
    border: 2px solid #fff;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    -webkit-transition: all .5s cubic-bezier(0.4, 0, 1, 1);
    transition: all .5s cubic-bezier(0.4, 0, 1, 1);
}

a.white-btn:hover {
    -webkit-transition: all .5s cubic-bezier(0.4, 0, 1, 1);
    transition: all .5s cubic-bezier(0.4, 0, 1, 1);
    background: #fff;
    border: 2px solid #fff;
    color: #040404;
}

a.yellow-btn:hover {
    -webkit-transition: all .5s cubic-bezier(0.4, 0, 1, 1);
    transition: all .5s cubic-bezier(0.4, 0, 1, 1);
    background: transparent;
    border: 2px solid #F93;
    color: #fff !important;
}

a.red-btn:hover,
button.red-btn:hover {
    -webkit-transition: all .5s cubic-bezier(0.4, 0, 1, 1);
    transition: all .5s cubic-bezier(0.4, 0, 1, 1);
    background: #800000;
    border: 2px solid #800000;
    color: #fff;
}

.common-heading h2 {
    color: #800000;
    font-family: Poppins;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
    position: relative;
}

.common-heading h2::after {
    content: '';
    position: absolute;
    width: 25%;
    height: 4px;
    background: #800000;
    bottom: -5px;
    left: 0px;
}

h1 {
    color: #FFF;
    font-family: Poppins;
    font-size: 46px;
    font-style: normal;
    font-weight: 600;
    line-height: 55px;
}

h2 {
    color: #fff;
    font-family: Poppins;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
}

h3 {
    color: #800000;
    font-family: Poppins;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: 36px;
}

h4 {
    color: #F93;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 36px;
}

h5 {
    color: #800000;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px;
    margin: 0px;
}


p {
    color: #3A3A3A;
    font-family: Poppins;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 23px;
    margin: 0px;
}

img {
    width: 100%;
}

.common-padding-top {
    padding-top: 100px;
}

.common-padding {
    padding: 50px 0px;
}

.common-margin {
    margin: 70px 0px;
}

.d-flex {
    flex-wrap: wrap;
}

.common-bg {
    background: #FFEFE3;
}

/* Top-header */
.top-header {
    background: #800000;
    padding: 8px 0px;
}

.top-detail a {
    color: #FFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}

.top-detail p {
    color: #fff;
    display: inline-block;
    font-size: 14px;
}


/* header */
.navigation {
    height: 30px;
    position: relative;
}

.brand {
    position: absolute;
    float: left;
    margin-top: 10px;
}

nav {
    float: right;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    float: left;
    position: relative;
}

nav ul li a,
nav ul li a:visited {
    display: block;
    margin: 0 14px;
    line-height: 42px;
    color: #ffffff;
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
}

nav ul li a:hover,
nav ul li a:visited:hover {
    color: #F93;
}

nav ul li a:not(:only-child):after,
nav ul li a:visited:not(:only-child):after {
    padding-left: 4px;
    content: " ▾";
}

nav ul li ul li {
    min-width: 190px;
}

nav ul li ul li a {
    padding: 8px;
    line-height: 20px;
}

.nav-dropdown {
    position: absolute;
    display: none;
    z-index: 1;
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
    background: #fff;
}

.nav-dropdown a {
    color: #3A3A3A !important;
}

.nav-dropdown a:hover {
    color: #F93 !important;
}

/* Mobile navigation */
.nav-mobile {
    display: none;
    position: absolute;
    top: -15px;
    right: 0;
    width: 70px;
}

@media only screen and (max-width: 798px) {
    .nav-mobile {
        display: block;
    }

    nav {
        width: 100%;
        padding: 35px 0 15px;
    }

    nav ul {
        display: none;
    }

    nav ul li {
        float: none;
    }

    nav ul li a {
        padding: 8px 0px;
        line-height: 20px !important;
    }

    nav ul li ul li a {
        padding-left: 30px;
    }

    .nav-dropdown {
        position: static;
    }

    .top-detail {
        justify-content: start !important;
        padding-top: 10px;
        display: flex !important;
        width: 100% !important;
    }

    .top-detail a {
        font-size: 12px;
        display: inline-block;
        padding-right: 5px;
    }

    .donate-detail {
        width: 100% !important;
        display: flex !important;
        flex-wrap: nowrap;
    }

    a.admission-detail {
        padding-right: 35px !important;
    }

    .top-detail p {
        display: block;
        width: 100%;
    }

    a.white-btn {
        padding: 10px 15px;
        margin-top: 10px;
    }

    a.yellow-btn {
        padding: 10px 34px;
        margin-top: 10px;
        margin-left: 0px !important;
    }

    .contact-form-detail::after {
        display: none;
    }

    .contact-form-detail {
        margin-bottom: 15px;
    }

    .header-content {
        max-width: 900px;
        margin: 0 auto;
        padding: 60px 0px !important;
    }

    h1 {
        font-size: 30px;
        line-height: 40px;
    }

    .banner-btn {
        width: 100% !important;
        justify-content: space-evenly !important;
    }

    nav ul li ul li a {
        padding: 8px;
        line-height: 20px;
    }

    .about-flow-img img {
        width: 100% !important;
        padding: 40px 0px 20px 0px !important;
    }
}

@media screen and (min-width: 799px) {
    .nav-list {
        display: block !important;
    }
}

#nav-toggle {
    position: absolute;
    left: 18px;
    top: 22px;
    cursor: pointer;
    padding: 10px 35px 16px 0px;
}

#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after {
    cursor: pointer;
    border-radius: 1px;
    height: 5px;
    width: 35px;
    background: #ffffff;
    position: absolute;
    display: block;
    content: "";
    transition: all 300ms ease-in-out;
}

#nav-toggle span:before {
    top: -10px;
}

#nav-toggle span:after {
    bottom: -10px;
}

#nav-toggle.active span {
    background-color: transparent;
}

#nav-toggle.active span:before,
#nav-toggle.active span:after {
    top: 0;
}

#nav-toggle.active span:before {
    transform: rotate(45deg);
}

#nav-toggle.active span:after {
    transform: rotate(-45deg);
}

/* header-banner */
.header {
    background: url(../img/about-banner.jpg)no-repeat;
    width: 100%;
    background-size: cover !important;
    background-position: center !important;
    padding: 15px 0px;
}

.header-content {
    max-width: 900px;
    margin: 0 auto;
    padding: 130px 0px;
}

/* about-home */

.about-home-img img {
    box-shadow: 18px 18px 2px 0px rgba(246, 222, 211, 1);
    -webkit-box-shadow: 18px 18px 2px 0px rgba(246, 222, 211, 1);
    -moz-box-shadow: 18px 18px 2px 0px rgba(246, 222, 211, 1);
    width: 90%;
}

.explain-icon img {
    max-width: 80px;
    margin-bottom: 20px;
}

.explain-icon p {
    width: 100%;
    margin-top: 20px;
    margin: 0 auto;
}

.kind-word-content {
    padding: 30px 50px;
}

/* activities */

.activities {
    background: url(../img/acti.jpg)no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    min-height: 600px;
    padding: 50px 0px;
}

.activities-box p {
    color: #fff;
}

/* education */
.education {
    background: url(../img/eductaions.jpg)no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    padding: 50px 0px;
}

/* testimonials */
#testimonial-slider {
    margin-top: 40px;
}

.owl-carousel .owl-item img {
    display: block;
}

.owl-buttons {
    display: none;
}

.testimonial-box {
    margin: 45px 10px;
    background: #F93;
    padding: 15px 20px;
    min-height: 350px;
}

.testimonial-box p {
    font-size: 14px;
    line-height: 22px;
}

.testimonial-box img {
    max-width: 80px;
    display: block;
    margin: 0 auto;
    margin-top: -50px;
}

.testimonial-box span {
    color: #FFD148;
    margin: 10px 0px;
    display: inline-block;
}

.owl-theme .owl-controls .owl-page span {
    background: #ff9933 !important;
}


/* gallery */
.gallery {
    background: url(../img/gallery-bg.jpg)no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    padding: 50px 0px;
}

.gallery-img img {
    margin: 15px 0px;
}

/* contact-form */

.contact-form-detail span {
    color: #800000;
    font-size: 26px;
    display: block;
}

.contact-form-detail a {
    text-decoration: none;
    display: block;
    color: #040404;
    font-size: 16px;
    line-height: 30px;
}

.contact-form-detail {
    position: relative;
}

.contact-form-detail::after {
    content: "";
    position: absolute;
    width: 3px;
    height: 75%;
    background-color: #A3A3A3;
    top: 12%;
    right: 15px;
    z-index: 6;
}

.contact-form-input input {
    border: none;
    background: #fff;
    padding: 10px;
    margin-bottom: 20px;
}

.contact-form-input textarea {
    border: none;
}

.contact-form-input input::placeholder {
    font-weight: 500;
    color: #c6c6c6;
}

.contact-form-input textarea::placeholder {
    font-weight: 500;
    color: #c6c6c6;
}

.iti {
    position: relative;
    display: inline-block;
    width: 100%;
}

/* footer */
.footer {
    background: #800000;
    padding: 50px 0px 30px 0px;
}

.footer-logo a {
    padding: 5px 9px;
    border-radius: 50px;
    background: #F93;
    color: #fff;
    margin-right: 10px;
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 10px;
}

.footer-links ul {
    padding: 0px;
}

.footer-links li {
    list-style: none;
}

.footer-links li a {
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    line-height: 30px;
}

.footer-contact-info a {
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    display: block;
    line-height: 30px;
}

.footer-links a:hover {
    color: #F93;
}




/* about-us-css */

.our-mission img {
    box-shadow: -56px -46px 0px 2px rgba(246, 222, 211, 1);
    -webkit-box-shadow: -56px -46px 0px 2px rgba(246, 222, 211, 1);
    -moz-box-shadow: -56px -46px 0px 2px rgba(246, 222, 211, 1);
}

.our-vission img {
    box-shadow: 56px -46px 0px 2px rgba(246, 222, 211, 1);
    -webkit-box-shadow: 56px -46px 0px 2px rgba(246, 222, 211, 1);
    -moz-box-shadow: 56px -46px 0px 2px rgba(246, 222, 211, 1);
}

.administration h2 {
    text-align: center;
    color: #800000;
    position: relative;
}

.administration h2::before {
    content: '';
    position: absolute;
    width: 15%;
    height: 5px;
    background: #800000;
    bottom: -10px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.administration p {
    max-width: 900px;
    margin: 0 auto;
    text-align: center;
    padding-top: 20px;
}

.about-flow-img img {
    width: 70%;
    padding: 100px 0px 40px 0px;
}


/* contact-us */

.ftco-section {
    padding: 6em 0;
    position: relative;
}

.contact-form-inner {
    width: 100%;
    margin: 0 auto;
}

.dbox {
    width: 100%;
    margin-bottom: 25px;
}

.dbox .icon {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: #800000;
    margin: 0 auto;
    margin-bottom: 20px;
}

.dbox .icon span {
    font-size: 24px;
    color: #fff;
}

.dbox .text {
    width: 100%;
}

.dbox p {
    margin-bottom: 0;
}

.dbox p span {
    font-weight: 500;
    color: #000000;
}

.contact-form-inner .contact-wrap {
    background: #fff;
    border-radius: 10px;

}

.contact-form-inner .contact-wrap label {
    font-weight: 600;
    font-size: 16px;
    line-height: 32px;
    color: #535353;
    font-weight: 600;
}

.contact-form-inner .contact-wrap input {
    padding: 5px;
    border: 1px solid #c6c6c6;
}

.contact-form-inner .contact-wrap {
    max-width: 850px;
    margin: 0 auto;
}

.contact-form-inner a {
    text-decoration: none;
    color: #800000;
}


/* gallery */
.image-gallery img {
    margin: 10px 0px 10px 0px;
}

.image-gallery {
    margin-bottom: 50px;
}

.image-gallery h2 {
    text-align: center;
    color: #800000;
    position: relative;
}

.image-gallery h2::before {
    content: '';
    position: absolute;
    width: 15%;
    height: 5px;
    background: #800000;
    bottom: -10px;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* video-gallery */
.video-gallery h2 {
    text-align: center;
    color: #800000;
    position: relative;
}

.video-gallery h2::before {
    content: '';
    position: absolute;
    width: 15%;
    height: 5px;
    background: #800000;
    bottom: -10px;
    left: 50%;
    transform: translate(-50%, -50%);
}


/* admission */
.admission-inner h2 {
    text-align: center;
    color: #800000;
    position: relative;
    margin-bottom: 30px;
}

.admission-inner h2::before {
    content: '';
    position: absolute;
    width: 15%;
    height: 5px;
    background: #800000;
    bottom: -10px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.admission-inner h4 {
    color: #3A3A3A;
}

.admission-list ul {
    display: flex;
    justify-content: space-between;
    width: 90%;
}

.admission-list li {
    list-style: none;
    background-image: url("../img/check.svg");
    background-repeat: no-repeat;
    padding-left: 30px;
    /* margin-bottom: 6px; */
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    padding-bottom: 15px;
    font-weight: 600;
    color: #3A3A3A;
    align-items: center;
    display: flex;
    padding-top: 5px;
    justify-content: space-between;
}

.examination-list span {
    background: #FED4B4;
    color: #F93;
    padding: 15px 27px;
    border-radius: 50%;
    font-size: 22px;
    font-weight: 800;
    margin-right: 20px;
}

.examination-list h3 {
    font-weight: 800;
    color: #F93;
    padding-bottom: 20px;
}

.examination-list p {
    padding: 5px 0px;
}

.examination-list li {
    font-weight: 400;
    color: #3A3A3A;
    font-size: 15px;
}

.apply-section {
    background: url(../img/acti.jpg)no-repeat;
    background-size: cover;
    background-position: center;
    padding: 50px 0px;
    text-align: center;
}



/* admission-form */
.admission-form {
    background: #FFEFE3;
    padding: 40px 0px;
    min-height: 100vh;
}

.admission-form-inner {
    max-width: 900px;
    margin: 0 auto;
    background: #fff;
    padding: 30px 20px;
}

.admission-form-inner label {
    font-size: 16px;
    font-weight: 600;
    color: #000;
    margin-bottom: 5px;
}

.admission-form-inner label {
    font-size: 15px;
    font-weight: 500;
    color: #333;
    margin-bottom: 5px;
}

/* course-page */

.course-page .card-footer a {
    width: 100%;
    text-align: center;
}

.course-page .card-footer {
    background: #fff;
}

.image-box {
    overflow: hidden;
}

.image-box img {
    max-width: 100%;
    transition: all 0.3s;
    display: block;
    width: 100%;
    height: auto;
    transform: scale(1);
}

.image-box:hover img {
    transform: scale(1.1);
}

/* calendar-page */
.calendar-page {
    padding: 50px 0px;
}

.wrapper {
    max-width: 1100px;
}

.container-calendar {
    background: #fff;
    padding: 30px;
    max-width: 800px;
    margin: 0 auto;
    overflow: auto;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
}

.button-container-calendar button {
    cursor: pointer;
    display: inline-block;
    zoom: 1;
    background: #00a2b7;
    color: #fff;
    border: 1px solid #0aa2b5;
    border-radius: 4px;
    padding: 5px 10px;
}

.table-calendar {
    border-collapse: collapse;
    width: 100%;
}

.table-calendar td,
.table-calendar th {
    padding: 5px;
    border: 1px solid #e2e2e2;
    text-align: center;
    vertical-align: top;
}

.date-picker.selected {
    font-weight: bold;
    outline: 1px dashed #00BCD4;
}

.date-picker.selected span {
    border-bottom: 2px solid currentColor;
}

/* sunday */
.date-picker:nth-child(1) {
    color: red;
}

/* friday */
.date-picker:nth-child(6) {
    color: green;
}

#monthAndYear {
    text-align: center;
    margin-top: 0;
}

.button-container-calendar {
    position: relative;
    margin-bottom: 1em;
    overflow: hidden;
    clear: both;
}

#previous {
    float: left;
}

#next {
    float: right;
}

.footer-container-calendar {
    margin-top: 1em;
    border-top: 1px solid #dadada;
    padding: 10px 0;
}

.footer-container-calendar select {
    cursor: pointer;
    display: inline-block;
    zoom: 1;
    background: #ffffff;
    color: #585858;
    border: 1px solid #bfc5c5;
    border-radius: 3px;
    padding: 5px 1em;
}

.calendar-sidebar {
    background: url(../img/calendar-bg.png)no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    min-height: 470px;
    position: relative;
    display: grid;
    place-items: center;
    padding: 15px;
}

.calendar-sidebar-inner {
    display: grid;
    place-items: center;
    text-align: center;
}

/* dontaion-page */

.donation-page {
    padding: 50px 0px;
}

.donation-content p {
    padding: 8px 0px;
    text-align: justify;
}

.donation-form {
    background: #fff;
    padding: 15px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
}

.donation-form label {
    font-size: 14px;
    font-weight: 600;
}

.donation-content ul {
    padding: 0px;
}

.donation-content li {
    list-style: none;
}

.donation-content li::before {
    content: "\00BB";
    padding-right: 10px;
    font-size: 24px;
}

/* activities-page */
table.activities-table-inner {
    width: 100%;
    background-color: #ffffff;
    border-collapse: collapse;
    border-width: 2px;
    border-color: #800000;
    border-style: solid;
    color: #000000;

}

table.activities-table-inner td,
table.activities-table-inner th {
    border-width: 2px;
    border-color: #800000;
    border-style: solid;
    padding: 3px;
    font-size: 14px;
}

table.activities-table-inner thead {
    background-color: #800000;
    color: #fff;
}

.activities-table {
    margin-bottom: 40px;
}

.curricular-section .card {
    width: 100%;
    max-width: 300px;
    min-width: 200px;
    height: 250px;
    background-color: #ffffff;
    margin: 10px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
    border: 2px solid rgba(7, 7, 7, 0.12);
    font-size: 16px;
    transition: all 0.3s ease;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}

.curricular-section .icon {
    margin: 0 auto;
    width: 100%;
    height: 80px;
    max-width: 80px;
    background: linear-gradient(90deg, #510000 0%, #800000 40%, rgba(0, 0, 0, 0.28) 60%);
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.8s ease;
    background-position: 0px;
    background-size: 200px;
}

.curricular-section .icon svg {
    fill: white;
}

.curricular-section .card .title {
    width: 95%;
    margin: 0;
    text-align: center;
    margin-top: 30px;
    color: #3A3A3A;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.curricular-section .card .text {
    width: 90%;
    margin: 10px auto 0px;
    font-size: 12px;
    text-align: center;
    color: rgb(58, 58, 58);
    font-weight: 200;
    opacity: 0;
    max-height: 0px;
    transition: all 0.3s ease 0s;
    font-weight: 400;
    line-height: 18px;
}

.curricular-section .card:hover {
    height: 270px;
}

.curricular-section .card:hover .text {
    transition: all 0.3s ease;
    opacity: 1;
    max-height: 40px;
}

.curricular-section .card:hover .icon {
    background-position: -120px;
    transition: all 0.3s ease;
}

.curricular-section .card:hover .icon svg path {
    fill: url('#gradientColor');
    transition: all 0.3s ease;
}

.special-workshop-inner img {
    max-width: 50px;
    margin-right: 20px;
}

.special-workshop-inner {
    margin-bottom: 60px;
}

.excursions-inner .card {
    position: relative;
    width: 300px;
    height: 200px;
    background-color: #f2f2f2;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    perspective: 1000px;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.excursions-inner .card img {
    fill: #333;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.excursions-inner .card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
}

.excursions-inner .card__content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-color: #800000;
    transform: rotateX(-90deg);
    transform-origin: bottom;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.excursions-inner .card:hover .card__content {
    transform: rotateX(0deg);
}

.excursions-inner .card__title {
    margin: 0;
    font-size: 24px;
    color: #fff;
    font-weight: 700;
}

.excursions-inner .card:hover svg {
    scale: 0;
}

.excursions-inner .card__description {
    margin: 10px 0 0;
    font-size: 14px;
    color: #fff;
    line-height: 1.4;
}

/* life-page */
.life-page-text p {
    padding: 8px 0px;
    text-align: justify;
}

.life-page-img {
    width: 50%;
    margin: 0px 30px 30px 0;
    float: left;
}

.life-page-text {
    display: inline;
}

.life-heading h3 {
    position: relative;
    padding-left: 20px;
    margin-top: 50px;
}

.life-heading h3 .dot-box {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 6px;
}

.life-heading h3 .dot-box:before {
    content: "";
    position: absolute;
    top: 9px;
    left: 0;
    width: 8px;
    height: 8px;
    background-color: #800000;
    border-radius: 50%;
}

.life-heading h3 .dot-box:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 8px;
    width: 8px;
    height: 8px;
    background-color: #8000003b;
    border-radius: 50%;
}

.life-daily-table {
    max-width: 700px;
    margin: 0 auto;
    text-align: center;
}

.life-daily-table table {
    border: 2px solid #000;
}

.life-daily-table table tbody th {
    border-right: 2px solid #000;
    border-top: 2px solid #000;
}

.life-daily-table table thead tr th {
    border-right: 2px solid #000;
    border-top: 2px solid #000;
}

.life-daily-table table tbody td {
    border-right: 2px solid #000;
    border-top: 2px solid #000;
}


/* class-routine */

.class-routine-table table tbody th {
    border-right: 1px solid #fff;
    border-top: 1px solid #fff;
    background: #800000;
    color: #fff;
}

.class-routine-table table thead tr th {
    border-right: 1px solid #fff;
    background: #800000;
    color: #fff;
}

.class-routine-table table tbody td {
    border-right: 1px solid #fff;
    border-top: 1px solid #fff;
    background: #8000003d;
    color: #202020;
}

.class-routine-note li {
    list-style: none;
    padding: 5px;
}
.error-message {
    color: red;
    font-size: 14px;
}
.privacy-policy p {
    padding: 5px 0px;
}

.privacy-policy h3 {
    padding-top: 20px;
}



.privacy-policy li {
    list-style: none;
}

.privacy-policy li::before {
    content: "\00BB";
    padding-right: 10px;
    font-size: 20px;
}