{% include "common/header.html" %}
{% include "common/top-navigation.html" %}
{% load static %}
    <header>
        <div class="header" style="background: url(../assets/img/about-banner.jpg);">
            <div class="container">
                <div class="navigation">
                    <div>
                        <div class="brand">
                            <a href="#!"><img src="{% static 'img/logo.svg' %}" alt="" style="max-width: 150px;"></a>
                        </div>
                        {% include 'common/nav.html' %}
                    </div>
                </div>
                <div class="header-content text-center" style="padding: 80px 0px;">
                    <h1>Your Contribution Can Give a Spiritual, Ethical, & Academic Life to a Student! </h1>
                </div>
            </div>

        </div>
    </header>

    <div class="activities-page common-bg common-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-lg-4 col-sm-12">
                    <div class="activities-table text-center">
                        <h5>6th to 8th Class
                        </h5>
                        <table class="activities-table-inner">
                            <thead>
                                <tr>
                                    <th>Examinations </th>
                                    <th>Subjects </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Exam 1</td>
                                    <td>Ved Path </td>
                                </tr>
                                <tr>
                                    <td>Exam 2</td>
                                    <td>Vedangam </td>
                                </tr>
                                <tr>
                                    <td>Exam 3</td>
                                    <td>Sanskrit</td>
                                </tr>
                                <tr>
                                    <td>Exam 4</td>
                                    <td>NCERT - Science</td>
                                </tr>
                                <tr>
                                    <td>Exam 5</td>
                                    <td>NCERT - Maths</td>
                                </tr>
                                <tr>
                                    <td>Exam 6</td>
                                    <td>NCERT - English</td>
                                </tr>
                                <tr>
                                    <td>Exam 7</td>
                                    <td>NCERT - Hindi</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4 col-sm-12">
                    <div class="activities-table text-center">
                        <h5>9th & 10th Class</h5>
                        <table class="activities-table-inner">
                            <thead>
                                <tr>
                                    <th>Examinations </th>
                                    <th>Subjects </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Exam 1</td>
                                    <td>Ved Path </td>
                                </tr>
                                <tr>
                                    <td>Exam 2</td>
                                    <td>NIOS- 246 - Sanskrit Grammar </td>
                                </tr>
                                <tr>
                                    <td>Exam 3</td>
                                    <td>NIOS- 247 - Indian Philosophy</td>
                                </tr>
                                <tr>
                                    <td>Exam 4</td>
                                    <td>NIOS-248 - Sanskrit- Literature</td>
                                </tr>
                                <tr>
                                    <td>Exam 5</td>
                                    <td>NIOS- 245 - Vedas Study </td>
                                </tr>
                                <tr>
                                    <td>Exam 6</td>
                                    <td>NIOS-202 - English </td>
                                </tr>
                                <tr>
                                    <td>Exam 7</td>
                                    <td>NIOS-201 - Hindi</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4 col-sm-12">
                    <div class="activities-table text-center">
                        <h5>11th & 12th Class Curriculum
                        </h5>
                        <table class="activities-table-inner">
                            <thead>
                                <tr>
                                    <th>Examinations </th>
                                    <th>Subjects </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Exam 1</td>
                                    <td>Ved Path </td>
                                </tr>
                                <tr>
                                    <td>Exam 2</td>
                                    <td>NIOS- 346 - Sanskrit Grammar </td>
                                </tr>
                                <tr>
                                    <td>Exam 3</td>
                                    <td>NIOS- 347 - Indian Philosophy </td>
                                </tr>
                                <tr>
                                    <td>Exam 4</td>
                                    <td>NIOS-348 - Sanskrit- Literature </td>
                                </tr>
                                <tr>
                                    <td>Exam 5</td>
                                    <td>NIOS- 345 - Vedas Study</td>
                                </tr>
                                <tr>
                                    <td>Exam 6</td>
                                    <td>NIOS - English</td>
                                </tr>
                                <tr>
                                    <td>Exam 7</td>
                                    <td>NIOS – 336 Computer</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="text-center mb-5 mt-4 video-gallery">
                <h2 style="color: #710101;">Core Subjects</h2>
            </div>

            <div class="row row-cols-1 row-cols-md-4 g-4">
                <div class="col">
                    <div class="card h-100">
                        <div class="image-box">
                            <img src="{% static 'img/DSC_4456.JPG' %}" class="card-img-top" alt="...">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Arts</h5>
                            <p class="card-text">A comprehensive study of the native language (e.g., Hindi, Sanskrit)
                                with an emphasis on grammar, vocabulary, reading, and writing skills
                                English language studies focus on literature, communication, writing, and comprehension.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100">
                        <div class="image-box">
                            <img src="{% static 'img/DSC_4456.JPG' %}" class="card-img-top" alt="...">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Mathematics</h5>
                            <p class="card-text">In-depth understanding of arithmetic, algebra, geometry, trigonometry,
                                and calculus.
                                Problem-solving and logical reasoning techniques.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100">
                        <div class="image-box">
                            <img src="{% static 'img/DSC_4456.JPG' %}" class="card-img-top" alt="...">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Science</h5>
                            <p class="card-text">Integrated study of Physics, Chemistry, and Biology with practical
                                experiments.
                                Environmental Science and Awareness.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100">
                        <div class="image-box">
                            <img src="{% static 'img/DSC_4456.JPG' %}" class="card-img-top" alt="...">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Social Studies</h5>
                            <p class="card-text">History covering ancient civilizations, medieval times, and modern
                                history.
                                Geography, exploring physical, political, and economic aspects of the world.
                                Civics, understanding the government, rights, and responsibilities of citizens.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="text-center mb-5 mt-5 video-gallery">
                <h2 style="color: #710101;">Extra-Curricular Activities</h2>
            </div>

            <div class="row row-cols-1 row-cols-md-5 g-3">
                <div class="col">
                    <div class="curricular-section">
                        <div class="card">
                            <div class="icon">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                    height="38px" width="38px" version="1.1" id="heart" viewBox="0 0 471.701 471.701"
                                    xml:space="preserve">
                                    <linearGradient id="gradientColor">
                                        <stop offset="5%" stop-color="#510000"></stop>
                                        <stop offset="95%" stop-color="#800000"></stop>
                                    </linearGradient>
                                    <g>
                                        <path
                                            d="M433.601,67.001c-24.7-24.7-57.4-38.2-92.3-38.2s-67.7,13.6-92.4,38.3l-12.9,12.9l-13.1-13.1   c-24.7-24.7-57.6-38.4-92.5-38.4c-34.8,0-67.6,13.6-92.2,38.2c-24.7,24.7-38.3,57.5-38.2,92.4c0,34.9,13.7,67.6,38.4,92.3   l187.8,187.8c2.6,2.6,6.1,4,9.5,4c3.4,0,6.9-1.3,9.5-3.9l188.2-187.5c24.7-24.7,38.3-57.5,38.3-92.4   C471.801,124.501,458.301,91.701,433.601,67.001z M414.401,232.701l-178.7,178l-178.3-178.3c-19.6-19.6-30.4-45.6-30.4-73.3   s10.7-53.7,30.3-73.2c19.5-19.5,45.5-30.3,73.1-30.3c27.7,0,53.8,10.8,73.4,30.4l22.6,22.6c5.3,5.3,13.8,5.3,19.1,0l22.4-22.4   c19.6-19.6,45.7-30.4,73.3-30.4c27.6,0,53.6,10.8,73.2,30.3c19.6,19.6,30.3,45.6,30.3,73.3   C444.801,187.101,434.001,213.101,414.401,232.701z">
                                        </path>
                                    </g>
                                </svg>
                            </div>
                            <p class="title">Yoga and Meditation</p>
                            <p class="text">Daily practice of yoga and meditation for physical and mental well-being.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="curricular-section">
                        <div class="card">
                            <div class="icon">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                    height="38px" width="38px" version="1.1" id="heart" viewBox="0 0 471.701 471.701"
                                    xml:space="preserve">
                                    <linearGradient id="gradientColor">
                                        <stop offset="5%" stop-color="#510000"></stop>
                                        <stop offset="95%" stop-color="#800000"></stop>
                                    </linearGradient>
                                    <g>
                                        <path
                                            d="M433.601,67.001c-24.7-24.7-57.4-38.2-92.3-38.2s-67.7,13.6-92.4,38.3l-12.9,12.9l-13.1-13.1   c-24.7-24.7-57.6-38.4-92.5-38.4c-34.8,0-67.6,13.6-92.2,38.2c-24.7,24.7-38.3,57.5-38.2,92.4c0,34.9,13.7,67.6,38.4,92.3   l187.8,187.8c2.6,2.6,6.1,4,9.5,4c3.4,0,6.9-1.3,9.5-3.9l188.2-187.5c24.7-24.7,38.3-57.5,38.3-92.4   C471.801,124.501,458.301,91.701,433.601,67.001z M414.401,232.701l-178.7,178l-178.3-178.3c-19.6-19.6-30.4-45.6-30.4-73.3   s10.7-53.7,30.3-73.2c19.5-19.5,45.5-30.3,73.1-30.3c27.7,0,53.8,10.8,73.4,30.4l22.6,22.6c5.3,5.3,13.8,5.3,19.1,0l22.4-22.4   c19.6-19.6,45.7-30.4,73.3-30.4c27.6,0,53.6,10.8,73.2,30.3c19.6,19.6,30.3,45.6,30.3,73.3   C444.801,187.101,434.001,213.101,414.401,232.701z">
                                        </path>
                                    </g>
                                </svg>
                            </div>
                            <p class="title">Indian Classical Music and Dance</p>
                            <p class="text">Training in classical music (vocal or instrumental) and traditional dance
                                forms.</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="curricular-section">
                        <div class="card">
                            <div class="icon">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                    height="38px" width="38px" version="1.1" id="heart" viewBox="0 0 471.701 471.701"
                                    xml:space="preserve">
                                    <linearGradient id="gradientColor">
                                        <stop offset="5%" stop-color="#510000"></stop>
                                        <stop offset="95%" stop-color="#800000"></stop>
                                    </linearGradient>
                                    <g>
                                        <path
                                            d="M433.601,67.001c-24.7-24.7-57.4-38.2-92.3-38.2s-67.7,13.6-92.4,38.3l-12.9,12.9l-13.1-13.1   c-24.7-24.7-57.6-38.4-92.5-38.4c-34.8,0-67.6,13.6-92.2,38.2c-24.7,24.7-38.3,57.5-38.2,92.4c0,34.9,13.7,67.6,38.4,92.3   l187.8,187.8c2.6,2.6,6.1,4,9.5,4c3.4,0,6.9-1.3,9.5-3.9l188.2-187.5c24.7-24.7,38.3-57.5,38.3-92.4   C471.801,124.501,458.301,91.701,433.601,67.001z M414.401,232.701l-178.7,178l-178.3-178.3c-19.6-19.6-30.4-45.6-30.4-73.3   s10.7-53.7,30.3-73.2c19.5-19.5,45.5-30.3,73.1-30.3c27.7,0,53.8,10.8,73.4,30.4l22.6,22.6c5.3,5.3,13.8,5.3,19.1,0l22.4-22.4   c19.6-19.6,45.7-30.4,73.3-30.4c27.6,0,53.6,10.8,73.2,30.3c19.6,19.6,30.3,45.6,30.3,73.3   C444.801,187.101,434.001,213.101,414.401,232.701z">
                                        </path>
                                    </g>
                                </svg>
                            </div>
                            <p class="title">Art and Craft</p>
                            <p class="text">Nurture creativity through drawing, painting, and various craft projects.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="curricular-section">
                        <div class="card">
                            <div class="icon">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                    height="38px" width="38px" version="1.1" id="heart" viewBox="0 0 471.701 471.701"
                                    xml:space="preserve">
                                    <linearGradient id="gradientColor">
                                        <stop offset="5%" stop-color="#510000"></stop>
                                        <stop offset="95%" stop-color="#800000"></stop>
                                    </linearGradient>
                                    <g>
                                        <path
                                            d="M433.601,67.001c-24.7-24.7-57.4-38.2-92.3-38.2s-67.7,13.6-92.4,38.3l-12.9,12.9l-13.1-13.1   c-24.7-24.7-57.6-38.4-92.5-38.4c-34.8,0-67.6,13.6-92.2,38.2c-24.7,24.7-38.3,57.5-38.2,92.4c0,34.9,13.7,67.6,38.4,92.3   l187.8,187.8c2.6,2.6,6.1,4,9.5,4c3.4,0,6.9-1.3,9.5-3.9l188.2-187.5c24.7-24.7,38.3-57.5,38.3-92.4   C471.801,124.501,458.301,91.701,433.601,67.001z M414.401,232.701l-178.7,178l-178.3-178.3c-19.6-19.6-30.4-45.6-30.4-73.3   s10.7-53.7,30.3-73.2c19.5-19.5,45.5-30.3,73.1-30.3c27.7,0,53.8,10.8,73.4,30.4l22.6,22.6c5.3,5.3,13.8,5.3,19.1,0l22.4-22.4   c19.6-19.6,45.7-30.4,73.3-30.4c27.6,0,53.6,10.8,73.2,30.3c19.6,19.6,30.3,45.6,30.3,73.3   C444.801,187.101,434.001,213.101,414.401,232.701z">
                                        </path>
                                    </g>
                                </svg>
                            </div>
                            <p class="title">Sports and Physical Education</p>
                            <p class="text">Regular sports activities promote physical fitness, teamwork, and
                                sportsmanship.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="curricular-section">
                        <div class="card">
                            <div class="icon">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                    height="38px" width="38px" version="1.1" id="heart" viewBox="0 0 471.701 471.701"
                                    xml:space="preserve">
                                    <linearGradient id="gradientColor">
                                        <stop offset="5%" stop-color="#510000"></stop>
                                        <stop offset="95%" stop-color="#800000"></stop>
                                    </linearGradient>
                                    <g>
                                        <path
                                            d="M433.601,67.001c-24.7-24.7-57.4-38.2-92.3-38.2s-67.7,13.6-92.4,38.3l-12.9,12.9l-13.1-13.1   c-24.7-24.7-57.6-38.4-92.5-38.4c-34.8,0-67.6,13.6-92.2,38.2c-24.7,24.7-38.3,57.5-38.2,92.4c0,34.9,13.7,67.6,38.4,92.3   l187.8,187.8c2.6,2.6,6.1,4,9.5,4c3.4,0,6.9-1.3,9.5-3.9l188.2-187.5c24.7-24.7,38.3-57.5,38.3-92.4   C471.801,124.501,458.301,91.701,433.601,67.001z M414.401,232.701l-178.7,178l-178.3-178.3c-19.6-19.6-30.4-45.6-30.4-73.3   s10.7-53.7,30.3-73.2c19.5-19.5,45.5-30.3,73.1-30.3c27.7,0,53.8,10.8,73.4,30.4l22.6,22.6c5.3,5.3,13.8,5.3,19.1,0l22.4-22.4   c19.6-19.6,45.7-30.4,73.3-30.4c27.6,0,53.6,10.8,73.2,30.3c19.6,19.6,30.3,45.6,30.3,73.3   C444.801,187.101,434.001,213.101,414.401,232.701z">
                                        </path>
                                    </g>
                                </svg>
                            </div>
                            <p class="title">Agricultural Studies</p>
                            <p class="text">Hands-on learning about traditional agricultural practices and sustainable
                                farming.</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="curricular-section">
                        <div class="card">
                            <div class="icon">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                    height="38px" width="38px" version="1.1" id="heart" viewBox="0 0 471.701 471.701"
                                    xml:space="preserve">
                                    <linearGradient id="gradientColor">
                                        <stop offset="5%" stop-color="#510000"></stop>
                                        <stop offset="95%" stop-color="#800000"></stop>
                                    </linearGradient>
                                    <g>
                                        <path
                                            d="M433.601,67.001c-24.7-24.7-57.4-38.2-92.3-38.2s-67.7,13.6-92.4,38.3l-12.9,12.9l-13.1-13.1   c-24.7-24.7-57.6-38.4-92.5-38.4c-34.8,0-67.6,13.6-92.2,38.2c-24.7,24.7-38.3,57.5-38.2,92.4c0,34.9,13.7,67.6,38.4,92.3   l187.8,187.8c2.6,2.6,6.1,4,9.5,4c3.4,0,6.9-1.3,9.5-3.9l188.2-187.5c24.7-24.7,38.3-57.5,38.3-92.4   C471.801,124.501,458.301,91.701,433.601,67.001z M414.401,232.701l-178.7,178l-178.3-178.3c-19.6-19.6-30.4-45.6-30.4-73.3   s10.7-53.7,30.3-73.2c19.5-19.5,45.5-30.3,73.1-30.3c27.7,0,53.8,10.8,73.4,30.4l22.6,22.6c5.3,5.3,13.8,5.3,19.1,0l22.4-22.4   c19.6-19.6,45.7-30.4,73.3-30.4c27.6,0,53.6,10.8,73.2,30.3c19.6,19.6,30.3,45.6,30.3,73.3   C444.801,187.101,434.001,213.101,414.401,232.701z">
                                        </path>
                                    </g>
                                </svg>
                            </div>
                            <p class="title">Sanskrit Studies</p>
                            <p class="text">Explore the ancient language of Sanskrit, including reading scriptures and
                                understanding its significance.</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="curricular-section">
                        <div class="card">
                            <div class="icon">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                    height="38px" width="38px" version="1.1" id="heart" viewBox="0 0 471.701 471.701"
                                    xml:space="preserve">
                                    <linearGradient id="gradientColor">
                                        <stop offset="5%" stop-color="#510000"></stop>
                                        <stop offset="95%" stop-color="#800000"></stop>
                                    </linearGradient>
                                    <g>
                                        <path
                                            d="M433.601,67.001c-24.7-24.7-57.4-38.2-92.3-38.2s-67.7,13.6-92.4,38.3l-12.9,12.9l-13.1-13.1   c-24.7-24.7-57.6-38.4-92.5-38.4c-34.8,0-67.6,13.6-92.2,38.2c-24.7,24.7-38.3,57.5-38.2,92.4c0,34.9,13.7,67.6,38.4,92.3   l187.8,187.8c2.6,2.6,6.1,4,9.5,4c3.4,0,6.9-1.3,9.5-3.9l188.2-187.5c24.7-24.7,38.3-57.5,38.3-92.4   C471.801,124.501,458.301,91.701,433.601,67.001z M414.401,232.701l-178.7,178l-178.3-178.3c-19.6-19.6-30.4-45.6-30.4-73.3   s10.7-53.7,30.3-73.2c19.5-19.5,45.5-30.3,73.1-30.3c27.7,0,53.8,10.8,73.4,30.4l22.6,22.6c5.3,5.3,13.8,5.3,19.1,0l22.4-22.4   c19.6-19.6,45.7-30.4,73.3-30.4c27.6,0,53.6,10.8,73.2,30.3c19.6,19.6,30.3,45.6,30.3,73.3   C444.801,187.101,434.001,213.101,414.401,232.701z">
                                        </path>
                                    </g>
                                </svg>
                            </div>
                            <p class="title">Martial Arts</p>
                            <p class="text">Training in self-defense and discipline through martial arts like Karate or
                                Kalaripayattu </p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="curricular-section">
                        <div class="card">
                            <div class="icon">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                    height="38px" width="38px" version="1.1" id="heart" viewBox="0 0 471.701 471.701"
                                    xml:space="preserve">
                                    <linearGradient id="gradientColor">
                                        <stop offset="5%" stop-color="#510000"></stop>
                                        <stop offset="95%" stop-color="#800000"></stop>
                                    </linearGradient>
                                    <g>
                                        <path
                                            d="M433.601,67.001c-24.7-24.7-57.4-38.2-92.3-38.2s-67.7,13.6-92.4,38.3l-12.9,12.9l-13.1-13.1   c-24.7-24.7-57.6-38.4-92.5-38.4c-34.8,0-67.6,13.6-92.2,38.2c-24.7,24.7-38.3,57.5-38.2,92.4c0,34.9,13.7,67.6,38.4,92.3   l187.8,187.8c2.6,2.6,6.1,4,9.5,4c3.4,0,6.9-1.3,9.5-3.9l188.2-187.5c24.7-24.7,38.3-57.5,38.3-92.4   C471.801,124.501,458.301,91.701,433.601,67.001z M414.401,232.701l-178.7,178l-178.3-178.3c-19.6-19.6-30.4-45.6-30.4-73.3   s10.7-53.7,30.3-73.2c19.5-19.5,45.5-30.3,73.1-30.3c27.7,0,53.8,10.8,73.4,30.4l22.6,22.6c5.3,5.3,13.8,5.3,19.1,0l22.4-22.4   c19.6-19.6,45.7-30.4,73.3-30.4c27.6,0,53.6,10.8,73.2,30.3c19.6,19.6,30.3,45.6,30.3,73.3   C444.801,187.101,434.001,213.101,414.401,232.701z">
                                        </path>
                                    </g>
                                </svg>
                            </div>
                            <p class="title">Debates and Public Speaking</p>
                            <p class="text">Encourage students to develop effective communication and critical thinking
                                skills.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="curricular-section">
                        <div class="card">
                            <div class="icon">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                    height="38px" width="38px" version="1.1" id="heart" viewBox="0 0 471.701 471.701"
                                    xml:space="preserve">
                                    <linearGradient id="gradientColor">
                                        <stop offset="5%" stop-color="#510000"></stop>
                                        <stop offset="95%" stop-color="#800000"></stop>
                                    </linearGradient>
                                    <g>
                                        <path
                                            d="M433.601,67.001c-24.7-24.7-57.4-38.2-92.3-38.2s-67.7,13.6-92.4,38.3l-12.9,12.9l-13.1-13.1   c-24.7-24.7-57.6-38.4-92.5-38.4c-34.8,0-67.6,13.6-92.2,38.2c-24.7,24.7-38.3,57.5-38.2,92.4c0,34.9,13.7,67.6,38.4,92.3   l187.8,187.8c2.6,2.6,6.1,4,9.5,4c3.4,0,6.9-1.3,9.5-3.9l188.2-187.5c24.7-24.7,38.3-57.5,38.3-92.4   C471.801,124.501,458.301,91.701,433.601,67.001z M414.401,232.701l-178.7,178l-178.3-178.3c-19.6-19.6-30.4-45.6-30.4-73.3   s10.7-53.7,30.3-73.2c19.5-19.5,45.5-30.3,73.1-30.3c27.7,0,53.8,10.8,73.4,30.4l22.6,22.6c5.3,5.3,13.8,5.3,19.1,0l22.4-22.4   c19.6-19.6,45.7-30.4,73.3-30.4c27.6,0,53.6,10.8,73.2,30.3c19.6,19.6,30.3,45.6,30.3,73.3   C444.801,187.101,434.001,213.101,414.401,232.701z">
                                        </path>
                                    </g>
                                </svg>
                            </div>
                            <p class="title">Computer Science and Coding</p>
                            <p class="text">Basic programming concepts and computer literacy.</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="curricular-section">
                        <div class="card">
                            <div class="icon">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                    height="38px" width="38px" version="1.1" id="heart" viewBox="0 0 471.701 471.701"
                                    xml:space="preserve">
                                    <linearGradient id="gradientColor">
                                        <stop offset="5%" stop-color="#510000"></stop>
                                        <stop offset="95%" stop-color="#800000"></stop>
                                    </linearGradient>
                                    <g>
                                        <path
                                            d="M433.601,67.001c-24.7-24.7-57.4-38.2-92.3-38.2s-67.7,13.6-92.4,38.3l-12.9,12.9l-13.1-13.1   c-24.7-24.7-57.6-38.4-92.5-38.4c-34.8,0-67.6,13.6-92.2,38.2c-24.7,24.7-38.3,57.5-38.2,92.4c0,34.9,13.7,67.6,38.4,92.3   l187.8,187.8c2.6,2.6,6.1,4,9.5,4c3.4,0,6.9-1.3,9.5-3.9l188.2-187.5c24.7-24.7,38.3-57.5,38.3-92.4   C471.801,124.501,458.301,91.701,433.601,67.001z M414.401,232.701l-178.7,178l-178.3-178.3c-19.6-19.6-30.4-45.6-30.4-73.3   s10.7-53.7,30.3-73.2c19.5-19.5,45.5-30.3,73.1-30.3c27.7,0,53.8,10.8,73.4,30.4l22.6,22.6c5.3,5.3,13.8,5.3,19.1,0l22.4-22.4   c19.6-19.6,45.7-30.4,73.3-30.4c27.6,0,53.6,10.8,73.2,30.3c19.6,19.6,30.3,45.6,30.3,73.3   C444.801,187.101,434.001,213.101,414.401,232.701z">
                                        </path>
                                    </g>
                                </svg>
                            </div>
                            <p class="title">Community Service</p>
                            <p class="text">Engage in social service activities to instill empathy and compassion.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="special-workshop common-padding bg-white">
        <div class="container">
            <div class="common-heading mb-5">
                <h2>Special Workshops</h2>
            </div>
            <div class="row">
                <div class="col-md-6 col-lg-6 col-sm-12">
                    <div class="special-workshop-inner">
                        <div class="d-flex align-items-center">
                            <img src="{% static 'img/calculating.png' %}" alt="">
                            <h5>Vedic Mathematics</h5>
                        </div>
                        <p class="w-75 mt-3">Introduce students to ancient Indian mathematical techniques for faster
                            mental
                            calculations.
                        </p>
                    </div>

                </div>
                <div class="col-md-6 col-lg-6 col-sm-12">
                    <div class="special-workshop-inner">
                        <div class="d-flex align-items-center">
                            <img src="{% static 'img/calculating.png' %}" alt="">
                            <h5>Vedic Mathematics</h5>
                        </div>
                        <p class="w-75 mt-3">Introduce students to ancient Indian mathematical techniques for faster
                            mental
                            calculations.
                        </p>
                    </div>

                </div>
                <div class="col-md-6 col-lg-6 col-sm-12">
                    <div class="special-workshop-inner">
                        <div class="d-flex align-items-center">
                            <img src="{% static 'img/calculating.png' %}" alt="">
                            <h5>Vedic Mathematics</h5>
                        </div>
                        <p class="w-75 mt-3">Introduce students to ancient Indian mathematical techniques for faster
                            mental
                            calculations.
                        </p>
                    </div>

                </div>
                <div class="col-md-6 col-lg-6 col-sm-12">
                    <div class="special-workshop-inner">
                        <div class="d-flex align-items-center">
                            <img src="{% static 'img/calculating.png' %}" alt="">
                            <h5>Vedic Mathematics</h5>
                        </div>
                        <p class="w-75 mt-3">Introduce students to ancient Indian mathematical techniques for faster
                            mental
                            calculations.
                        </p>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="excursions common-padding common-bg">
        <div class="video-gallery mb-5">
            <h2>Educational Excursions</h2>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-lg-4 col-sm-12">
                    <div class="excursions-inner d-flex justify-content-center">
                        <div class="card">
                            <img src="{% static 'img/history.jpg' %}" alt="">
                            <div class="card__content">
                                <p class="card__title">Historical Sites</p>
                                <p class="card__description">Visits to important historical sites and museums to connect
                                    theory with practical knowledge.</p>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-md-4 col-lg-4 col-sm-12">
                    <div class="excursions-inner d-flex justify-content-center">
                        <div class="card">
                            <img src="{% static 'img/Nature.jpg' %}" alt="">
                            <div class="card__content">
                                <p class="card__title">Nature Expeditions</p>
                                <p class="card__description">Trips to natural habitats, wildlife sanctuaries, and
                                    eco-friendly locations.</p>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-md-4 col-lg-4 col-sm-12">
                    <div class="excursions-inner d-flex justify-content-center">
                        <div class="card">
                            <img src="{% static 'img/Cultural.jpg' %}" alt="">
                            <div class="card__content">
                                <p class="card__title">Cultural Exchange Programs</p>
                                <p class="card__description">Interaction with students from other schools to promote
                                    cultural understanding</p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <p class="mt-5" style="text-align: justify;font-weight: 500;">At Gurukul, we believe in holistic education,
                nurturing students' minds, bodies, and spirits. We strive
                to provide a well-rounded curriculum that prepares them for academic excellence while fostering their
                character, creativity, and appreciation for Indian heritage and values.
            </p>
        </div>
    </div>
{% include "common/footer.html" %}