{% include "common/header.html" %}
{% include "common/top-navigation.html" %}
{% load static %}
    <header>
        <div class="header" style="background: url(../assets/img/about-banner.jpg);">
            <div class="container">
                <div class="navigation">
                    <div>
                        <div class="brand">
                            <a href="{% url 'home' %}"><img src="{% static 'img/logo.svg' %}" alt="" style="max-width: 150px;"></a>
                        </div>
                        {% include 'common/nav.html' %}
                    </div>
                </div>
                <div class="header-content text-center" style="padding: 80px 0px;">
                    <h1>Welcome to Gurukul, where knowledge meets tradition! </h1>
                    <p style="color: #fff;font-size: 18px;
    max-width: 700px;
    margin: 0 auto;
    padding: 15px 0px;">Rejuvenate the way you live and will live in the future by
                        gaining the right ethics and values
                        at
                        Gurukul.
                    </p>
                </div>
            </div>

        </div>
    </header>



    <div class="class-routine common-bg common-padding">
        <div class="container">
            <div class="class-routine-inner">
                <p>We take immense pride in providing a holistic educational experience that combines modern teaching
                    techniques with the timeless values of our rich heritage. At Gurukul, we believe in nurturing young
                    minds to become not only knowledgeable individuals but also compassionate and responsible global
                    citizens. Our dedicated faculty and state-of-the-art facilities ensure that every student receives
                    the best possible guidance and support to unlock their full potential. Step into Gurukul and embark
                    on a transformative journey of learning, growth, and excellence. </p>
                <div class="class-routine-table mt-5">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Class</th>
                                <th scope="col">10:00- 10:45 </th>
                                <th scope="col">10:45 – 11:30 </th>
                                <th scope="col">Prayer</th>
                                <th scope="col">Break</th>
                                <th scope="col">1:00-1:45 </th>
                                <th scope="col">1:45-2:30 </th>
                                <th scope="col">2:30-3:15 </th>
                                <th scope="col">3.45-4.40</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row"></th>
                                <td style="font-weight: 700;">Second</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <th scope="row">6<sup>Th</sup></th>
                                <td>Vedanga </td>
                                <td>English</td>
                                <td> </td>
                                <td></td>
                                <td>Maths </td>
                                <td>English</td>
                                <td>Sanskrit</td>
                                <td>Play</td>
                            </tr>
                            <tr>
                                <th scope="row">7<sup>Th</sup></th>
                                <td>Vedanga </td>
                                <td>Sanskrit</td>
                                <td> </td>
                                <td></td>
                                <td>Vedagam </td>
                                <td>Science</td>
                                <td>English</td>
                                <td>Play</td>
                            </tr>
                            <tr>
                                <th scope="row">8<sup>Th</sup></th>
                                <td>English</td>
                                <td>Maths</td>
                                <td> </td>
                                <td></td>
                                <td>Sanskrit </td>
                                <td>Vedanga</td>
                                <td>Science</td>
                                <td>Play</td>
                            </tr>
                            <tr>
                                <th scope="row">9<sup>Th</sup></th>
                                <td>Sanskrit </td>
                                <td>Sanskrit Grammar</td>
                                <td> </td>
                                <td></td>
                                <td>English </td>
                                <td>Sanskrit</td>
                                <td>Vedas Study </td>
                                <td>Play</td>
                            </tr>
                            <tr>
                                <th scope="row"></th>
                                <td style="font-weight: 700;">Third</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <th scope="row">6<sup>Th</sup></th>
                                <td>Vedanga </td>
                                <td>English</td>
                                <td> </td>
                                <td></td>
                                <td>Maths </td>
                                <td>English</td>
                                <td>Sanskrit</td>
                                <td>Play</td>
                            </tr>
                            <tr>
                                <th scope="row">7<sup>Th</sup></th>
                                <td>Vedanga </td>
                                <td>Sanskrit</td>
                                <td> </td>
                                <td></td>
                                <td>Vedagam </td>
                                <td>Science</td>
                                <td>English</td>
                                <td>Play</td>
                            </tr>
                            <tr>
                                <th scope="row">8<sup>Th</sup></th>
                                <td>English</td>
                                <td>Maths</td>
                                <td> </td>
                                <td></td>
                                <td>Sanskrit </td>
                                <td>Vedanga</td>
                                <td>Science</td>
                                <td>Play</td>
                            </tr>
                            <tr>
                                <th scope="row">9<sup>Th</sup></th>
                                <td>Sanskrit </td>
                                <td>Sanskrit Grammar</td>
                                <td> </td>
                                <td></td>
                                <td>English </td>
                                <td>Sanskrit</td>
                                <td>Vedas Study </td>
                                <td>Play</td>
                            </tr>
                            <tr>
                                <th scope="row"></th>
                                <td style="font-weight: 700;">Fourth</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <th scope="row">6<sup>Th</sup></th>
                                <td>Vedanga </td>
                                <td>English</td>
                                <td> </td>
                                <td></td>
                                <td>Maths </td>
                                <td>English</td>
                                <td>Sanskrit</td>
                                <td>Play</td>
                            </tr>
                            <tr>
                                <th scope="row">7<sup>Th</sup></th>
                                <td>Vedanga </td>
                                <td>Sanskrit</td>
                                <td> </td>
                                <td></td>
                                <td>Vedagam </td>
                                <td>Science</td>
                                <td>English</td>
                                <td>Play</td>
                            </tr>
                            <tr>
                                <th scope="row">8<sup>Th</sup></th>
                                <td>English</td>
                                <td>Maths</td>
                                <td> </td>
                                <td></td>
                                <td>Sanskrit </td>
                                <td>Vedanga</td>
                                <td>Science</td>
                                <td>Play</td>
                            </tr>
                            <tr>
                                <th scope="row">9<sup>Th</sup></th>
                                <td>Sanskrit </td>
                                <td>Sanskrit Grammar</td>
                                <td> </td>
                                <td></td>
                                <td>English </td>
                                <td>Sanskrit</td>
                                <td>Vedas Study </td>
                                <td>Play</td>
                            </tr>
                            <tr>
                                <th scope="row"></th>
                                <td style="font-weight: 700;">Fifth</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <th scope="row">6<sup>Th</sup></th>
                                <td>Vedanga </td>
                                <td>English</td>
                                <td> </td>
                                <td></td>
                                <td>Maths </td>
                                <td>English</td>
                                <td>Sanskrit</td>
                                <td>Play</td>
                            </tr>
                            <tr>
                                <th scope="row">7<sup>Th</sup></th>
                                <td>Vedanga </td>
                                <td>Sanskrit</td>
                                <td> </td>
                                <td></td>
                                <td>Vedagam </td>
                                <td>Science</td>
                                <td>English</td>
                                <td>Play</td>
                            </tr>
                            <tr>
                                <th scope="row">8<sup>Th</sup></th>
                                <td>English</td>
                                <td>Maths</td>
                                <td> </td>
                                <td></td>
                                <td>Sanskrit </td>
                                <td>Vedanga</td>
                                <td>Science</td>
                                <td>Play</td>
                            </tr>
                            <tr>
                                <th scope="row">9<sup>Th</sup></th>
                                <td>Sanskrit </td>
                                <td>Sanskrit Grammar</td>
                                <td> </td>
                                <td></td>
                                <td>English </td>
                                <td>Sanskrit</td>
                                <td>Vedas Study </td>
                                <td>Play</td>
                            </tr>
                            <tr>
                                <th scope="row"></th>
                                <td style="font-weight: 700;">Sixth</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <th scope="row">6<sup>Th</sup></th>
                                <td>Vedanga </td>
                                <td>English</td>
                                <td> </td>
                                <td></td>
                                <td>Maths </td>
                                <td>English</td>
                                <td>Sanskrit</td>
                                <td>Play</td>
                            </tr>
                            <tr>
                                <th scope="row">7<sup>Th</sup></th>
                                <td>Vedanga </td>
                                <td>Sanskrit</td>
                                <td> </td>
                                <td></td>
                                <td>Vedagam </td>
                                <td>Science</td>
                                <td>English</td>
                                <td>Play</td>
                            </tr>
                            <tr>
                                <th scope="row">8<sup>Th</sup></th>
                                <td>English</td>
                                <td>Maths</td>
                                <td> </td>
                                <td></td>
                                <td>Sanskrit </td>
                                <td>Vedanga</td>
                                <td>Science</td>
                                <td>Play</td>
                            </tr>
                            <tr>
                                <th scope="row">9<sup>Th</sup></th>
                                <td>Sanskrit </td>
                                <td>Sanskrit Grammar</td>
                                <td> </td>
                                <td></td>
                                <td>English </td>
                                <td>Sanskrit</td>
                                <td>Vedas Study </td>
                                <td>Play</td>
                            </tr>
                            <tr>
                                <th scope="row"></th>
                                <td style="font-weight: 700;">Seventh</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <th scope="row">6<sup>Th</sup></th>
                                <td>Vedanga </td>
                                <td>English</td>
                                <td> </td>
                                <td></td>
                                <td>Maths </td>
                                <td>English</td>
                                <td>Sanskrit</td>
                                <td>Play</td>
                            </tr>
                            <tr>
                                <th scope="row">7<sup>Th</sup></th>
                                <td>Vedanga </td>
                                <td>Sanskrit</td>
                                <td> </td>
                                <td></td>
                                <td>Vedagam </td>
                                <td>Science</td>
                                <td>English</td>
                                <td>Play</td>
                            </tr>
                            <tr>
                                <th scope="row">8<sup>Th</sup></th>
                                <td>English</td>
                                <td>Maths</td>
                                <td> </td>
                                <td></td>
                                <td>Sanskrit </td>
                                <td>Vedanga</td>
                                <td>Science</td>
                                <td>Play</td>
                            </tr>
                            <tr>
                                <th scope="row">9<sup>Th</sup></th>
                                <td>Sanskrit </td>
                                <td>Sanskrit Grammar</td>
                                <td> </td>
                                <td></td>
                                <td>English </td>
                                <td>Sanskrit</td>
                                <td>Vedas Study </td>
                                <td>Play</td>
                            </tr>
                        </tbody>
                    </table>

                    <div class="class-routine-note">
                        <h4 style="color: #000;">Note:</h4>
                        <ul>
                            <li><b>Special arrangement-</b>To teach the students to write, speak and read Sanskrit
                                language.</li>
                            <li><b>Duration of study-</b>Currently can study up to 12th standard.</li>
                            <li><b>Vrat-</b>The students live in the traditional brahmachari's vow, as renunciates,
                                disciples. </li>
                            <li><b>Fees- </b>Housing, food, clothes, vessels, study materials are free till the 12th
                                student in the school. There is an initial fee. </li>
                        </ul>
                        <p>Please ensure that you adhere to the class routine and make the most of your learning
                            experience at Sri Ganeshdas Bhaktamali Veda Vidyalaya. For any questions or concerns, feel free to contact the
                            school administration. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% include "common/footer.html" %}
