{% include "common/header.html" %}
{% include "common/top-navigation.html" %}
{% load static %}

    <header>
        <div class="header" style="background: url(../assets/img/about-banner.jpg);">
            <div class="container">
                <div class="navigation">
                    <div>
                        <div class="brand">
                            <a href="#!"><img src="{% static 'img/logo.svg' %}" alt="" style="max-width: 150px;"></a>
                        </div>
                       {% include 'common/nav.html' %}
                    </div>
                </div>
                <div class="header-content text-center">
                    <h1>Fostering Spiritual Development through Education</h1>
                </div>
            </div>

        </div>
    </header>



    <!-- <div class="video-gallery">
        <div class="container">
            <div class="mt-4 mb-4">
                <p>In publishing and graphic design, Lorem ipsum is a placeholder text commonly used to demonstrate the
                    In publishing and graphic design, Lorem ipsum is a placeholder text commonly used to demonstrate the
                    In publishing and graphic design, Lorem ipsum is a placeholder text commonly used to demonstrate the
                    In publishing and graphic design, Lorem ipsum is a placeholder text commonly used to demonstrate the
                    In publishing and graphic design, Lorem ipsum is a placeholder text commonly used to demonstrate the
                    In publishing and graphic design, Lorem ipsum is a placeholder text commonly used to demonstrate the
                </p>
            </div>

            <div class="text-center mb-5 mt-5">
                <h2 style="color: #710101;">Video Gallery</h2>
            </div>

            <div class="owl-carousel video-section">
                <div class="item">
                    <div>
                        <video class="js-player" crossorigin playsinline
                            poster="https://cdn.plyr.io/static/demo/View_From_A_Blue_Moon_Trailer-HD.jpg">
                            <source src="https://cdn.plyr.io/static/demo/View_From_A_Blue_Moon_Trailer-720p.mp4"
                                type="video/mp4" size="720">
                        </video>
                    </div>
                </div>
                <div class="item">
                    <div>
                        <video class="js-player" crossorigin playsinline
                            poster="https://cdn.plyr.io/static/demo/View_From_A_Blue_Moon_Trailer-HD.jpg">
                            <source src="https://cdn.plyr.io/static/demo/View_From_A_Blue_Moon_Trailer-720p.mp4"
                                type="video/mp4" size="720">
                        </video>
                    </div>
                </div>
                <div class="item">
                    <div>
                        <video class="js-player" crossorigin playsinline
                            poster="https://cdn.plyr.io/static/demo/View_From_A_Blue_Moon_Trailer-HD.jpg">
                            <source src="https://cdn.plyr.io/static/demo/View_From_A_Blue_Moon_Trailer-720p.mp4"
                                type="video/mp4" size="720">
                        </video>
                    </div>
                </div>
            </div>
        </div>
    </div> -->

    <div class="image-gallery mt-5">
        <div class="container">
            <div class="text-center mb-5">
                <h2 style="color: #710101;">Image Gallery</h2>
            </div>
            <div class="row">
                <div class="col-md-3 col-lg-3 col-sm-12">
                    <div class="image-gallery-inner">
                        <img src="{% static 'img/DSC_3704.jpg' %}" alt="">
                    </div>
                </div>
                <div class="col-md-3 col-lg-3 col-sm-12">
                    <div class="image-gallery-inner">
                        <img src="{% static 'img/DSC_3704.jpg' %}" alt="">
                    </div>
                </div>
                <div class="col-md-3 col-lg-3 col-sm-12">
                    <div class="image-gallery-inner">
                        <img src="{% static 'img/DSC_3704.jpg' %}" alt="">
                    </div>
                </div>
                <div class="col-md-3 col-lg-3 col-sm-12">
                    <div class="image-gallery-inner">
                        <img src="{% static 'img/DSC_3704.jpg' %}" alt="">
                    </div>
                </div>
                <div class="col-md-3 col-lg-3 col-sm-12">
                    <div class="image-gallery-inner">
                        <img src="{% static 'img/DSC_3704.jpg' %}" alt="">
                    </div>
                </div>
                <div class="col-md-3 col-lg-3 col-sm-12">
                    <div class="image-gallery-inner">
                        <img src="{% static 'img/DSC_3704.jpg' %}" alt="">
                    </div>
                </div>
                <div class="col-md-3 col-lg-3 col-sm-12">
                    <div class="image-gallery-inner">
                        <img src="{% static 'img/DSC_3704.jpg' %}" alt="">
                    </div>
                </div>
                <div class="col-md-3 col-lg-3 col-sm-12">
                    <div class="image-gallery-inner">
                        <img src="{% static 'img/DSC_3704.jpg' %}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
{% include "common/footer.html" %}



