{% include "common/header.html" %}
{% include "common/top-navigation.html" %}
{% load static %}

    <header>
        <div class="header" style="background: url(../assets/img/about-banner.jpg);">
            <div class="container">
                <div class="navigation">
                    <div>
                        <div class="brand">
                            <a href="{% url 'home' %}"><img src="{% static 'img/logo.svg' %}" alt="" style="max-width: 150px;"></a>
                        </div>
                       {% include 'common/nav.html' %}
                    </div>
                </div>
                <div class="header-content text-center">
                    <h1>Welcome to our gallery page! </h1>
                    <p style="color: #fff;max-width: 700px;margin: 0 auto;padding: 15px 0px;">
                        The vibrant journey of Gurukul, a place of profound spiritual wisdom and academic excellence 
                    </p>
                </div>
            </div>

        </div>
    </header>

    <div class="container">
        <div class="mt-5">
            <p>Our students engross in ancient scriptures, meditation, 
                and cultural activities, which nurture their holistic growth. 
                Witness the joyous learning moments, the camaraderie among peers, and the guidance of our revered gurus. Here's the harmonious fusion of traditional values and modern education that creates compassionate leaders of tomorrow. We invite you to explore these glimpses of our Gurukul life, where timeless teachings intertwine with the aspirations of young minds, shaping a bright and promising future. </p>
            
        </div>
    </div>



    <!-- <div class="video-gallery">
        <div class="container">
            <div class="mt-4 mb-4">
                <p>In publishing and graphic design, Lorem ipsum is a placeholder text commonly used to demonstrate the
                    In publishing and graphic design, Lorem ipsum is a placeholder text commonly used to demonstrate the
                    In publishing and graphic design, Lorem ipsum is a placeholder text commonly used to demonstrate the
                    In publishing and graphic design, Lorem ipsum is a placeholder text commonly used to demonstrate the
                    In publishing and graphic design, Lorem ipsum is a placeholder text commonly used to demonstrate the
                    In publishing and graphic design, Lorem ipsum is a placeholder text commonly used to demonstrate the
                </p>
            </div>

            <div class="text-center mb-5 mt-5">
                <h2 style="color: #710101;">Video Gallery</h2>
            </div>

            <div class="owl-carousel video-section">
                <div class="item">
                    <div>
                        <video class="js-player" crossorigin playsinline
                            poster="https://cdn.plyr.io/static/demo/View_From_A_Blue_Moon_Trailer-HD.jpg">
                            <source src="https://cdn.plyr.io/static/demo/View_From_A_Blue_Moon_Trailer-720p.mp4"
                                type="video/mp4" size="720">
                        </video>
                    </div>
                </div>
                <div class="item">
                    <div>
                        <video class="js-player" crossorigin playsinline
                            poster="https://cdn.plyr.io/static/demo/View_From_A_Blue_Moon_Trailer-HD.jpg">
                            <source src="https://cdn.plyr.io/static/demo/View_From_A_Blue_Moon_Trailer-720p.mp4"
                                type="video/mp4" size="720">
                        </video>
                    </div>
                </div>
                <div class="item">
                    <div>
                        <video class="js-player" crossorigin playsinline
                            poster="https://cdn.plyr.io/static/demo/View_From_A_Blue_Moon_Trailer-HD.jpg">
                            <source src="https://cdn.plyr.io/static/demo/View_From_A_Blue_Moon_Trailer-720p.mp4"
                                type="video/mp4" size="720">
                        </video>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <div class="image-gallery mt-5">
        <div class="container">
            <div class="text-center mb-5">
                <h2 style="color: #710101;">Image Gallery</h2>
            </div>
            <div class="row">
                <div class="col-md-3 col-lg-3 col-sm-12">
                    <div class="image-gallery-inner">
                        <img src="{% static 'img/ga1.jpg' %}" alt="">
                    </div>
                </div>
                <div class="col-md-3 col-lg-3 col-sm-12">
                    <div class="image-gallery-inner">
                        <img src="{% static 'img/ga2.jpg' %}" alt="">
                    </div>
                </div>
                <div class="col-md-3 col-lg-3 col-sm-12">
                    <div class="image-gallery-inner">
                        <img src="{% static 'img/ga3.jpg' %}" alt="">
                    </div>
                </div>
                <div class="col-md-3 col-lg-3 col-sm-12">
                    <div class="image-gallery-inner">
                        <img src="{% static 'img/ga4.jpg' %}" alt="">
                    </div>
                </div>
                <div class="col-md-3 col-lg-3 col-sm-12">
                    <div class="image-gallery-inner">
                        <img src="{% static 'img/ga5.jpg' %}" alt="">
                    </div>
                </div>
                <div class="col-md-3 col-lg-3 col-sm-12">
                    <div class="image-gallery-inner">
                        <img src="{% static 'img/ga6.jpg' %}" alt="">
                    </div>
                </div>
                <div class="col-md-3 col-lg-3 col-sm-12">
                    <div class="image-gallery-inner">
                        <img src="{% static 'img/ga7.jpg' %}" alt="">
                    </div>
                </div>
                <div class="col-md-3 col-lg-3 col-sm-12">
                    <div class="image-gallery-inner">
                        <img src="{% static 'img/ga8.jpg' %}" alt="">
                    </div>
                </div>
                <div class="col-md-3 col-lg-3 col-sm-12">
                    <div class="image-gallery-inner">
                        <img src="{% static 'img/ga9.jpg' %}" alt="">
                    </div>
                </div>
                <div class="col-md-3 col-lg-3 col-sm-12">
                    <div class="image-gallery-inner">
                        <img src="{% static 'img/ga10.jpg' %}" alt="">
                    </div>
                </div>
                <div class="col-md-3 col-lg-3 col-sm-12">
                    <div class="image-gallery-inner">
                        <img src="{% static 'img/ga11.jpg' %}" alt="">
                    </div>
                </div>
                <div class="col-md-3 col-lg-3 col-sm-12">
                    <div class="image-gallery-inner">
                        <img src="{% static 'img/ga12.jpg' %}" alt="">
                    </div>
                </div>
                <div class="col-md-3 col-lg-3 col-sm-12">
                    <div class="image-gallery-inner">
                        <img src="{% static 'img/ga13.jpg' %}" alt="">
                    </div>
                </div>
                <div class="col-md-3 col-lg-3 col-sm-12">
                    <div class="image-gallery-inner">
                        <img src="{% static 'img/ga14.jpg' %}" alt="">
                    </div>
                </div>
                <div class="col-md-3 col-lg-3 col-sm-12">
                    <div class="image-gallery-inner">
                        <img src="{% static 'img/ga15.jpg' %}" alt="">
                    </div>
                </div>
                <div class="col-md-3 col-lg-3 col-sm-12">
                    <div class="image-gallery-inner">
                        <img src="{% static 'img/ga16.jpg' %}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
{% include "common/footer.html" %}



