{% include "common/header.html" %}
{% include "common/top-navigation.html" %}
{% load static %}
<header>
    <div class="header">
        
        <div class="container">
            <div class="navigation">
                <div>
                    <div class="brand">
                        <a href="{% url 'home' %}"><img src="{% static 'img/logo.svg' %}" alt="" style="max-width: 150px;"></a>
                    </div>
                   {% include 'common/nav.html' %}
                </div>
            </div>
            <div class="header-content text-center">
                <h1>Discover the Path of Wisdom and Transformation at Gurukul</h1>
                <p style="color: #fff;max-width: 700px;margin: 0 auto;padding: 15px 0px;">काक: चेष्टा, बको ध्यानं, श्वान निद्रा तथैव च। अल्पाहारी, गृहत्यागी, विद्यार्थी पंचलक्षणम् ॥
                </p>
                <div class="banner-btn justify-content-between d-flex mt-3" style="width: 40%;margin: 0 auto;">
                    <a href="contact-us" class="yellow-btn">Contact us</a>
                    <a href="admission-form" class="white-btn">Admission Form</a>
                </div>
            </div>
        </div>

    </div>
</header>
 <!-- about-section -->
 <section style="background: #FFEFE3;padding: 60px 0px;">
    <div class="about-home">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6 col-lg-6 col-sm-12">
                    <div class="about-home-img">
                        <img src="{% static 'img/about-home.jpg'%}" alt="" class="img-fluid">
                    </div>
                </div>
                <div class="col-md-6 col-lg-6 col-sm-12">
                    <div class="about-home-content common-heading">
                        <h2 class="mb-4">About Our Gurukul</h2>
                        <p>Experience the transformative power of Ancient Vedic Teachings in this sacred sanctuary.
                            Shri Ganeshdas Bhaktamali Ved Vidyalaya is a spiritual haven at the heart of Bharatpur,
                            Rajasthan. Thousands of pilgrims come from all corners of the Earth for a clean, pure,
                            and sacred atmosphere as well as abundant, beautiful gardens. We have created a perfect
                            blend of modern amenities and traditional, spiritual simplicity. The soothing presence
                            of nature combined with the wisdom of the ancient scriptures fosters a deep connection
                            with the divine. We cultivate a harmonious and supportive community of like-minded
                            individuals on the path of spiritual awakening. </p>
                        <a href="about-us" class="yellow-btn mt-4 red-btn">Read More</a>
                    </div>
                </div>
                <div class="col-md-12 col-lg-12 col-sm-12 common-padding-top">
                    <div class="common-heading">
                        <h2>What And How We Work</h2>
                        <p class="mt-4"><b>Shri Ganeshdas Bhaktamali Ved Vidyalaya</b> is known as an
                            excellent institution for teaching Vedas and Sanskrit, since 2017, operated by Shri
                            Golok Vrindavan & maintained by Malook Peeth Seva Sansthan Trust, Vrindavan. This
                            institute is under the Ministry of Human Resource Development, Government of India.
                            National Institute of Open Schooling (NIOS), Noida, conducts the 10th and 12th
                            examinations of the school students. For admission, students have to follow proper
                            procedures. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="home-icon" style="padding-top: 70px;">
        <div class="container">
            <div class="row gx-4">
                <div class="col-sm-12 col-lg-4 col-md-4">
                    <div class="explain-icon text-center mb-4">
                        <img src="{% static 'img/viva-test.svg' %}" alt="">
                        <h3>Viva Test </h3>
                        <p>Students residing at distant locations can take oral examinations through video calls on
                            WhatsApp or Telegram. And local students can visit the school premises for viva tests.
                            No need for the online oral test! Students must know their date of birth, gotra, pravar,
                            and the type of Brahmin they are, i.e., Kanyakubj, Sharayupari, Gangapari, etc</p>
                    </div>
                </div>
                <div class="col-sm-12 col-lg-4 col-md-4">
                    <div class="explain-icon text-center mb-4">
                        <img src="{% static 'img/Test-Stay.svg' %}" alt="">
                        <h3>Test Stay at Gurukul </h3>
                        <p>We give 15 to 25 days to test the student's ability & strong desire to learn, his
                            behavior, etc. Our students have to follow the traditional celibate vow till the 12th
                            standard. So, this free, primary test observation is necessary to ensure a favorable
                            mentality and capability for such a long stay. Students' abilities will be seen through
                            tests and inspection. </p>
                    </div>
                </div>
                <div class="col-sm-12 col-lg-4 col-md-4">
                    <div class="explain-icon text-center mb-4">
                        <img src="{% static 'img/Admission.svg' %}" alt="">
                        <h3>Admission </h3>
                        <p>Students get traditional clothes, copper food utensils, books, study materials, garlands
                            for worship rituals, etc. We charge Rs.4000/- for all these as if the student returns
                            home after a few days, most of these things cannot be given to others, they have to be
                            discarded/thrown & all this financial expenditure goes in vain.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- <div class="kind-word" style="padding-top: 50px;">
        <div class="container">
            <div class="row g-0">
                <div class="col-md-6 col-lg-6 col-sm-12">
                    <img src="img/swami-ji.jpg" alt="" class="h-100">
                </div>
                <div class="col-md-6 col-lg-6 col-sm-12 ">
                    <div class="kind-word-content common-heading h-100" style="background: #FF9933;">
                        <h2>Kind Words Of Swami Shri Rajendradas Ji Maharaj</h2>
                        <p class="mt-4 mb-3">In publishing and graphic design, Lorem ipsum is a placeholder text
                            commonly
                            used to
                            demonstrate the In publishing and graphic design, Lorem ipsum is a placeholder text
                            commonly used to demonstrate the In publishing and graphic design, Lorem ipsum is a
                            placeholder text commonly used to demonstrate the In publishing and graphic design,
                            Lorem ipsum is a placeholder text </p>
                        <p>In publishing and graphic design, Lorem ipsum is a placeholder text commonly used to
                            demonstrate the In publishing and graphic design, Lorem ipsum is a placeholder text
                            commonly used to demonstrate the In</p>
                    </div>
                </div>
            </div>
        </div>
    </div> -->

    <!-- <div class="affiliation common-padding-top">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6 col-lg-6 col-sm-12">
                    <div class="common-heading">
                        <h2>Affiliation</h2>
                        <p class="mt-4 mb-3">In publishing and graphic design, Lorem ipsum is a placeholder text
                            commonly used to demonstrate the In publishing and graphic design, Lorem ipsum is a
                            placeholder text commonly used to demonstrate the In publishing and graphic design,
                            Lorem ipsum is a placeholder text commonly used to demonstrate the In publishing and
                            graphic design, Lorem ipsum is a placeholder text </p>
                        <p>In publishing and graphic design, Lorem ipsum is a placeholder text commonly used to
                            demonstrate the In publishing and graphic design, Lorem ipsum is a placeholder text
                            commonly used to</p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6 col-sm-12">
                    <div class="text-end">
                        <img src="img/hand.jpg" alt="" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
    </div> -->
</section>

<div class="activities">
    <div class="activities-inner">
        <div class="container">
            <div>
                <h2 class="text-center">Our Activities</h2>
            </div>
            <div class="row mt-5 gx-4">
                <div class="col-md-4 col-lg-4 col-sm-12">
                    <div class="activities-box">
                        <img src="{% static 'img/activity1.jpg' %}" alt="" class="img-fluid">
                        <div style="padding: 20px;">
                            <h4>Full Standard Academic Education</h4>
                            <p>Our effective teaching methods, interactive learning materials, & assessments foster
                                intellectual growth and academic excellence among students. NIOS conducts all the
                                6th to 12th examinations, ensuring students receive a well-rounded education.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4 col-sm-12">
                    <div class="activities-box">
                        <img src="{% static 'img/activity2.jpg' %}" alt="" class="img-fluid">
                        <div style="padding: 20px;">
                            <h4>Ancient Vedic Knowledge & Traditions Training </h4>
                            <p>With our lectures, discussions, & practical approach to sacred scriptures, including
                                the Vedas, Upanishads, and Bhagavad Gita, they understand Vedic philosophy, rituals,
                                meditation techniques, and spiritual practices passed down through generations. </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4 col-sm-12">
                    <div class="activities-box">
                        <img src="{% static 'img/activity3.jpg' %}" alt="" class="img-fluid">
                        <div style="padding: 20px;">
                            <h4>Moral and Value-Based Education </h4>
                            <p>Through storytelling, discussions, and real-life examples, students are exposed to
                                ethical principles, compassion, empathy, integrity, and social responsibility,
                                encouraging them to cultivate positive character traits & a strong moral compass.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="education">
    <div class="education-inner">
        <div class="container">
            <div class="text-center">
                <h2 class="text-center" style="color: #800000;line-height: 46px;max-width: 800px;margin: 0 auto;">
                    Turn Lightless Eyes into Bright, Shining Eyes at Gurukul</h2>
                <p style="max-width: 1000px;margin: 0 auto;padding-top: 18px;color: #363636;">Give your child
                    something more than an academic education. Train them to be cultural ambassadors, carrying with
                    them—wherever they go—the deep values and culture of honesty, integrity, purity, piety,
                    dedication, and selflessness. Inculcate your child with values, ethics, and spirituality, which
                    will make them torchbearers of Indian culture as well as productive members of society</p>
                <a href="tel:+91 8000450479" class="yellow-btn mt-4 red-btn">Call Now:- +91 8000450479</a>
            </div>
        </div>
    </div>
</div>

<div class="testimonials" style="background: #FFEFE3;padding: 60px 0px;">
    <div class="container">
        <div class="testimonials-heading text-center">
            <h2 style="color: #800000;">Testimonials</h2>
            <p style="max-width: 800px;margin: 0 auto;">Our students, alumni, and parents eloquently capture the
                profound impact of Gurukul on their lives, speaking of a transformative journey that encompasses not
                only academic excellence but also spiritual growth, cultural immersion, and the cultivation of moral
                values. </p>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div id="testimonial-slider" class="owl-carousel">
                    <div class="testimonial-box text-center">
                        <div>
                            <img src="{% static 'img/twstimonial1.png' %}" alt="">
                        </div>
                        <span>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                        </span>
                        <p>The holistic education provided a perfect balance of academic excellence and spiritual
                            growth. The teachings of the ancient Vedic knowledge opened my mind to profound wisdom,
                            while the nurturing environment instilled in me a strong moral foundation</p>
                        <h5 class="mt-2">Rahul</h5>
                        <p style="color: #800000;">Alumni</p>
                    </div>
                    <div class="testimonial-box text-center">
                        <img src="{% static 'img/twstimonial2.png' %}" alt="">
                        <span>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                        </span>
                        <p>The knowledge I am gaining about ancient Vedic traditions with a blend of modern
                            education connected me to my cultural heritage profoundly. Gurukul has been a
                            transformative journey that has shaped my character and prepared me to face life's
                            challenges with grace and wisdom</p>
                        <h5 class="mt-2">Akshat</h5>
                        <p style="color: #800000;">Student</p>
                    </div>
                    <div class="testimonial-box text-center">
                        <img src="{% static 'img/twstimonial3.png' %}" alt="">
                        <span>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                        </span>
                        <p>Gurukul has exceeded my expectations by providing a full-standard academic education. The
                            dedicated teachers and personalized attention helped my son excel academically. I am
                            grateful to Gurukul for shaping my son into a well-rounded individual.</p>
                        <h5 class="mt-2">Karan</h5>
                        <p style="color: #800000;">Parent</p>
                    </div>
                    <div class="testimonial-box text-center">
                        <img src="{% static 'img/twstimonial4.png' %}" alt="">
                        <span>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                        </span>
                        <p>The time spent at Gurukul was truly transformative. I accumulated a profound
                            understanding of life's purpose and a deeper connection with the divine & built a strong
                            character with a moral and value-based education. Gurukul is a sanctuary of learning
                            where I have found lifelong lessons and cherished memories</p>
                        <h5 class="mt-2">Prarabdh</h5>
                        <p style="color: #800000;">Alumni</p>
                    </div>
                    <div class="testimonial-box text-center">
                        <div>
                            <img src="{% static 'img/twstimonial5.png' %}" alt="">
                        </div>
                        <span>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                        </span>
                        <p>The holistic education provided a perfect balance of academic excellence and spiritual
                            growth. The teachings of the ancient Vedic knowledge opened my mind to profound wisdom,
                            while the nurturing environment instilled in me a strong moral foundation</p>
                        <h5 class="mt-2">Rahul</h5>
                        <p style="color: #800000;">Alumni</p>
                    </div>
                    <div class="testimonial-box text-center">
                        <img src="{% static 'img/twstimonial6.png' %}" alt="">
                        <span>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                        </span>
                        <p>The knowledge I am gaining about ancient Vedic traditions with a blend of modern
                            education connected me to my cultural heritage profoundly. Gurukul has been a
                            transformative journey that has shaped my character and prepared me to face life's
                            challenges with grace and wisdom</p>
                        <h5 class="mt-2">Akshat</h5>
                        <p style="color: #800000;">Student</p>
                    </div>
                    <div class="testimonial-box text-center">
                        <img src="{% static 'img/twstimonial7.png' %}" alt="">
                        <span>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                        </span>
                        <p>Gurukul has exceeded my expectations by providing a full-standard academic education. The
                            dedicated teachers and personalized attention helped my son excel academically. I am
                            grateful to Gurukul for shaping my son into a well-rounded individual.</p>
                        <h5 class="mt-2">Karan</h5>
                        <p style="color: #800000;">Parent</p>
                    </div>
                    <div class="testimonial-box text-center">
                        <img src="{% static 'img/twstimonial8.png' %}" alt="">
                        <span>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                        </span>
                        <p>The time spent at Gurukul was truly transformative. I accumulated a profound
                            understanding of life's purpose and a deeper connection with the divine & built a strong
                            character with a moral and value-based education. Gurukul is a sanctuary of learning
                            where I have found lifelong lessons and cherished memories</p>
                        <h5 class="mt-2">Prarabdh</h5>
                        <p style="color: #800000;">Alumni</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="gallery">
    <div class="container">
        <div class="row align-items-center gx-4">
            <div class="col-md-8 col-lg-8 col-sm-12">
                <div class="row">
                    <div class="col-md-4 col-lg-4 col-sm-12">
                        <div class="gallery-img">
                            <img src="{% static 'img/gallery1.jpg' %}" alt="">
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-4 col-sm-12">
                        <div class="gallery-img">
                            <img src="{% static 'img/gallery2.jpg' %}" alt="">
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-4 col-sm-12">
                        <div class="gallery-img">
                            <img src="{% static 'img/gallery3.jpg' %}" alt="">
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-4 col-sm-12">
                        <div class="gallery-img">
                            <img src="{% static 'img/gallery4.jpg' %}" alt="">
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-4 col-sm-12">
                        <div class="gallery-img">
                            <img src="{% static 'img/gallery5.jpg' %}" alt="">
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-4 col-sm-12">
                        <div class="gallery-img">
                            <img src="{% static 'img/gallery6.jpg' %}" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-4 col-sm-12">
                <div class="gallery-content">
                    <h2>Our Gallery</h2>
                    <p class="mb-4 mt-2" style="color: #fff;">Here is a glimpse of our journey that encapsulates the
                        vibrant spirit and cherished moments of Gurukul. Our students' achievements, cultural
                        celebrations, and enriching experiences make Gurukul a truly special place.</p>
                    <a href="gallery" class="yellow-btn">View All Gallery</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="contact-form" style="background:#FFEFE3 ;padding: 50px 0px;">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-lg-4 col-sm-12">
                <div class="contact-form-detail text-center">
                    <div style="margin: 0 auto; max-width: 320px;">
                        <span><i class="bi bi-geo-alt-fill"></i></span>
                        <p style="font-size: 16px;padding-bottom: 10px;">Maluka Ved Vidyalaya, Shri Jadkhor Godham, Via-Pahalwara, Post- Guhana, Dist- Bharatpur (Rajasthan) 321206</p>
                        <!-- <p style="font-size: 16px;">Lorem ipsum dolor sit amet, consect etur adi pisicing elit</p> -->
                    </div>
                    <div class="mt-5 mb-5">
                        <span><i class="bi bi-telephone-fill"></i></span>
                        <a href="tel:+91 8619207496">+91 8619207496</a>
                        <a href="tel:+91 8000450479">+91 8000450479</a>
                    </div>
                    <div>
                        <span><i class="bi bi-envelope-fill"></i></span>
                        <a href="mailto:sgbveda@gmail.com">sgbveda@gmail.com</a>
                       
                    </div>
                </div>
            </div>
            <div class="col-md-8 col-lg-8 col-sm-12">
                <div class="contact-form-input">
                    <h3 style="color: #800000;text-transform: uppercase;">Get In Touch</h3>
                    <p style="max-width: 780px;margin: 20px 0px;">Connect with us today and embark on a transformative journey. Contact us to learn more about our programs, admissions, and the enriching opportunities that await you. Let's start your path to growth and enlightenment together.</p>
                    <form method="POST" action="{% url 'home' %}">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-6">
                            <input type="text" class="form-control" placeholder="First Name" aria-label="First name"
                                name="first_name" value = "{{ form.cleaned_data.first_name}}">
                            {% if form.first_name.errors %}
                                <div class="error-message">
                                    {% for error in form.first_name.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </div>
                        <div class="col-md-6">
                            <input type="text" class="form-control" placeholder="Last Name" aria-label="Last name"
                                name="last_name" value = "{{ form.cleaned_data.last_name }}">
                            {% if form.last_name.errors %}
                                <div class="error-message">
                                    {% for error in form.last_name.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </div>
                        <div class="col-md-6">
                            <input type="email" type="email" class="form-control" name="email"
                                placeholder="Your Email" value = "{{ form.cleaned_data.email }}">
                            {% if form.email.errors %}
                                <div class="error-message">
                                    {% for error in form.email.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </div>
                        <div class="col-md-6">
                            <input type="text"   class="form-control" name="phone_number" placeholder="Phone Number"
                            value = "{{ form.cleaned_data.phone_number }}">
                            {% if form.phone_number.errors %}
                            <div class="error-message">
                                {% for error in form.phone_number.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% endif %}
                        </div>
                        <div class="col-md-12 mb-3">
                            <textarea class="form-control" placeholder="Message" id="exampleFormControlTextarea1"
                                name="message" rows="5" value = "{{ form.cleaned_data.message }}"></textarea>
                            {% if form.message.errors %}
                                <div class="error-message">
                                    {% for error in form.message.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </div>
                        <div class="col-md-12">
                            <button type="submit" class="yellow-btn red-btn">Submit</button>
                        </div>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% include "common/footer.html" %}