{% include "common/header.html" %}
{% include "common/top-navigation.html" %}
{% load static %}
    <header>
        <div class="header" style="background: url(../assets/img/about-banner.jpg);">
            <div class="container">
                <div class="navigation">
                    <div>
                        <div class="brand">
                            <a href="{% url 'home' %}"><img src="{% static 'img/logo.svg' %}" alt="" style="max-width: 150px;"></a>
                        </div>
                        {% include 'common/nav.html' %}
                    </div>
                </div>
                <div class="header-content text-center" style="padding: 80px 0px;">
                    <h1>Life at Gurukul </h1>
                    <p style="color: #fff;font-size: 18px;
    max-width: 700px;
    margin: 0 auto;
    padding: 15px 0px;">Rejuvenate the way you live and will live in the future by
                        gaining the right ethics and values
                        at
                        Gurukul.
                    </p>
                </div>
            </div>

        </div>
    </header>

    <div class="life-page common-padding">
        <div class="container">
            <img class="life-page-img" src="{% static 'img/DSC_4465.JPG' %}" />
            <div class="life-page-text">
                <h3>Welcome to Mukul Ved Vidyalaya - a place of nourishment, growth, and holistic education! </h3>
                <p>At Mukul Ved Vidyalaya, we understand the significance of providing a nurturing environment for our
                    students. We take great pride in being a residential campus where students can experience the
                    essence of simplicity, discipline, and spirituality.
                </p>
                <p>Experience the sheer bliss of life at Mukul Ved Vidyalaya, a residential campus that truly cares for
                    its students' well-being. At our school, we prioritize their health and values, ensuring a nurturing
                    environment for their overall growth. We firmly prohibit junk food, non-veg food, and unwanted
                    gadgets, aiming to shield their minds and lives from any offensive or harmful influences.
                </p>
                <p>
                    Our commitment lies in providing what's best for their lives, not merely fulfilling their
                    expectations. Quality is our utmost priority, and we never compromise on it. Delight in the taste of
                    pure Satvik food meticulously prepared on our premises, promoting their physical and spiritual
                    well-being. With a focus on wholesome nutrition, they enjoy a diet comprising milk, satvik meals,
                    fruits, and healthy snacks, steering clear of any artificial and unhealthy temptations. Embrace the
                    serenity and wisdom that Mukul Ved Vidyalaya has to offer, setting the stage for a fulfilling and
                    enlightened journey ahead.
                </p>
                <p>
                    At Gurukul, we believe in providing a holistic learning experience that goes beyond traditional
                    education. Our unique approach to learning combines ancient wisdom with modern techniques, nurturing
                    students to become well-rounded individuals with a deep understanding of their place in the world.

                </p>
            </div>
            <div class="life-heading mt-5">
                <h3>
                    <div class="dot-box"></div>
                    A Home Away from Home
                </h3>
                <p>Mukul Ved Vidyalaya is more than just a school; it is a home away from home. Gurukul is a residential
                    learning institution where students live on campus, fostering a close-knit community. Our
                    residential campus ensures that students feel secure and cared for, creating a close-knit community
                    that nurtures friendships and mutual respect. Living together encourages teamwork, empathy, and
                    interpersonal skills, creating an environment of support and camaraderie among the students.
                    Students will get hostel rooms with all the basic amenities and simple facilities like personal
                    cupboards, a bed, a chair, & table with mineral water. </p>

                <h3>
                    <div class="dot-box"></div>
                    The Guru-Shishya Tradition :
                </h3>
                <p>Central to our ethos is the Guru-Shishya (Teacher-Student) relationship, mirroring the age-old
                    Gurukul education system. Our Gurus are experienced mentors, guiding and inspiring students on their
                    academic, personal, and spiritual journeys.
                </p>

                <h3>
                    <div class="dot-box"></div>
                    Curriculum:
                </h3>
                <p>Our curriculum is thoughtfully designed to strike a balance between modern education and traditional
                    teachings. We blend the best of both worlds to equip our students with knowledge that is not only
                    relevant to today's challenges but also timeless in its wisdom.
                </p>

                <h3>
                    <div class="dot-box"></div>
                    Yoga and Meditation:
                </h3>
                <p>At Gurukul, we recognize the importance of physical and mental well-being. Yoga and meditation are an
                    integral part of our daily routine, promoting a healthy lifestyle and enhancing concentration,
                    focus, and self-awareness. </p>

                <h3>
                    <div class="dot-box"></div>
                    Extracurricular Activities:
                </h3>
                <p>We encourage our students to explore their interests and passions beyond academics. Our extensive
                    range of extracurricular activities includes sports, arts, music, singing, and more. These
                    activities allow students to discover and develop their unique talents, fostering creativity and
                    leadership skills.
                </p>

                <h3>
                    <div class="dot-box"></div>
                    Community Service:
                </h3>
                <p>We believe in instilling a sense of responsibility and compassion in our students. Through various
                    community service initiatives, they learn to give back to society and understand the value of
                    contributing positively to the world around them.</p>

                <h3>
                    <div class="dot-box"></div>
                    Celebrating Diversity:
                </h3>
                <p>Gurukul welcomes students from various cultural, religious, and social backgrounds. We celebrate this
                    diversity and promote an inclusive environment where every student feels valued and respected. </p>

                <h3>
                    <div class="dot-box"></div>
                    Technology Integration:
                </h3>
                <p>While we embrace traditional values, we also recognize the importance of technology in the modern
                    world. We integrate technology into our classrooms to enhance learning experiences and prepare our
                    students for the challenges of the digital age.
                </p>

                <h3>
                    <div class="dot-box"></div>
                    Nature and Sustainability:
                </h3>
                <p>Our serene campus is nestled amidst nature, providing a peaceful and conducive environment for
                    learning. We also emphasize sustainable practices and environmental awareness, nurturing a deep
                    appreciation for nature and the planet.
                </p>

                <h3>
                    <div class="dot-box"></div>
                    Alumni Network:
                </h3>
                <p>Life at Gurukul extends far beyond graduation. Our alumni network remains an essential part of the
                    Gurukul family, offering support, networking opportunities, and a chance to give back to the
                    institution that helped shape their lives.</p>

                <h3>
                    <div class="dot-box"></div>
                    Our Care for Students:
                </h3>
                <p>Health is Wealth! The well-being of our students is our utmost priority. To ensure a healthy and
                    conducive learning atmosphere, we strictly prohibit the consumption of junk food, non-vegetarian
                    food, and the use of unwanted gadgets within our campus. By maintaining these guidelines, we aim to
                    foster a mindful and focused environment that promotes learning and character development. Also, we
                    have a proper nursing room for our students where all their health issues will be taken care of
                    without hassle.</p>
                <h3>
                    <div class="dot-box"></div>
                    Empowering the Best:
                </h3>
                <p>At Mukul Ved Vidyalaya, we believe in empowering our students with what is truly beneficial for their
                    lives, rather than catering to mere expectations. Our commitment to providing the best quality
                    education, facilities, and experiences sets us apart, as we strive to equip our students for success
                    in all aspects of life.
                </p>
                <h3>
                    <div class="dot-box"></div>
                    Satvik Food and Healthy Habits:
                </h3>
                <p>We understand the profound impact of diet on overall well-being. Our chiefs are Brahmins specialized
                    in cooking all kinds of pure veg food for our students made up of pure ghee, oil, and fresh
                    vegetables. Therefore, we serve only Satvik food prepared with great care and hygiene on our own
                    premises. Our students are offered a nourishing diet that includes milk, fruits, and healthy snacks,
                    devoid of any artificial additives or unhealthy options. This dietary approach helps in fostering
                    physical and mental well-being, ensuring our students stay active, alert, and focused.</p>
                <h3>
                    <div class="dot-box"></div>
                    Spiritual Development:
                </h3>
                <p>Spiritual growth is an essential part of a well-rounded education. At Mukul Ved Vidyalaya, we
                    incorporate spiritual practices that nurture our students' inner selves. These practices include
                    meditation, yoga, and regular spiritual discourses, fostering a sense of inner peace, resilience,
                    and self-awareness. </p>
                <h3>
                    <div class="dot-box"></div>
                    Academic Excellence:
                </h3>
                <p>Alongside the spiritual aspect, we maintain high standards of academic excellence. Our dedicated
                    faculty members provide personalized attention and support to each student, encouraging intellectual
                    curiosity and a thirst for knowledge.
                </p>
                <h3>
                    <div class="dot-box"></div>
                    Cultural Heritage:
                </h3>
                <p>We take pride in celebrating our rich cultural heritage. Our students are exposed to various art
                    forms, cultural events, and traditions, instilling in them a sense of pride in their roots and
                    fostering a deep appreciation for diversity. Early morning at 5 am, all the students gather in the
                    prayer hall for pooja, chanting and reciting Mahamantras, devotional songs, & more.
                </p>
                <h3>
                    <div class="dot-box"></div>
                    Gurukul Holiday:
                </h3>
                <p>The school does not have weekly holidays every Sunday. Every Pratipada and Ashtami is an
                    unstudied/vacation/holiday.
                </p>
                <h3>
                    <div class="dot-box"></div>
                    Student’s Communication Facility:
                </h3>
                <p>Parents can only have a phone conversation with their student on a non-school/break/vacation day
                    between 8 am to 11:30 am and 1:00 pm to 5:30 pm.
                </p>

                <h3>
                    <div class="dot-box"></div>
                    Parent's visit:
                </h3>
                <p>Parents can come to meet the kid on school holidays. Meeting hours are 8 am to 5:30 pm. No parents
                    can meet the student after 5:30 pm.
                </p>
                <p>
                    Join us at Mukul Ved Vidyalaya for an exceptional educational experience that focuses on
                    character-building, academic excellence, and spiritual growth. Together, let's embark on a journey
                    of transformation and self-discovery. Welcome to Mukul Ved Vidyalaya!
                </p>
                <p>
                    Come, embark on this enriching journey of learning and personal growth at Gurukul, where each day
                    unfolds with new opportunities and discoveries. Join us to experience the unique blend of tradition,
                    modernity, and compassion that defines Life at Gurukul.
                </p>
                <p>
                    Enroll now and be a part of the Gurukul legacy!
                </p>
            </div>

            <div class="life-daily mt-5">
                <div class="container">
                    <div class="life-daily-inner video-gallery">
                        <h2>दिनचर्या - Daily Routine at Gurukul</h2>

                        <div class="life-daily-table mt-5">
                            <table class="table table-striped">
                                <thead>
                                    <tr class="text-center">
                                        <th colspan="3">From April to September</th>
                                    </tr>
                                </thead>
                                <thead>
                                    <tr>
                                        <th scope="col">S.No:</th>
                                        <th scope="col">Time</th>
                                        <th scope="col">Schedule</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row">1</th>
                                        <td>4:15 AM </td>
                                        <td>Wake Up</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">2</th>
                                        <td>4:15 - 5:00 AM</td>
                                        <td>Bath & Get Ready for the Day </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">3</th>
                                        <td>5:00 - 6:00 AM</td>
                                        <td>Morning Worship & Sacrifice Offering</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">4</th>
                                        <td>6:10 - 7:00 AM </td>
                                        <td>Reading the Vedas & collective prayer</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">5</th>
                                        <td>7:00 - 7:30 AM</td>
                                        <td>Breakfast </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">6</th>
                                        <td>7:30 - 9:30 AM</td>
                                        <td>Self-Study/ Study Under Supervision</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">7</th>
                                        <td>9:30 - 10:00 AM</td>
                                        <td>Service work and bathing</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">8</th>
                                        <td>10:00 - 11:30 AM</td>
                                        <td>Classes</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">9</th>
                                        <td>11:30 - 12:15 PM</td>
                                        <td>Prayer </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">10</th>
                                        <td>12:15 - 1:00 PM</td>
                                        <td>Lunch</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">11</th>
                                        <td>1:00 - 4:30 PM</td>
                                        <td>Classes</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">12</th>
                                        <td>4:30 - 5:40 PM</td>
                                        <td>Games </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">13</th>
                                        <td>5:40 - 6:00 PM </td>
                                        <td>Purification </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">14</th>
                                        <td>6:00 - 6:55 PM </td>
                                        <td>Evening Worship & Sacrifice Offering </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">15</th>
                                        <td>7:00 - 8:15 PM</td>
                                        <td>Self-Study/Study Under Supervision</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">16</th>
                                        <td>8:15 - 8:50 PM </td>
                                        <td>Dinner</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">17</th>
                                        <td>9:00 - 9:30 PM </td>
                                        <td>Test</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">18</th>
                                        <td>9:30 PM</td>
                                        <td>Sleep </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% include "common/footer.html" %}



 