{% include "common/header.html" %}
{% include "common/top-navigation.html" %}
{% load static %}

    <header>
        <div class="header" style="background: url(../assets/img/about-banner.jpg);min-height: 400px;">
            <div class="container">
                <div class="navigation">
                    <div>
                        <div class="brand">
                            <a href="{% url 'home' %}"><img src="{% static 'img/logo.svg' %}" alt="" style="max-width: 150px;"></a>
                        </div>
                        {% include 'common/nav.html' %}
                    </div>
                </div>
                <div class="header-content text-center">
                    <h1>Privacy Policy</h1>
                </div>
            </div>

        </div>
    </header>

    <div class="container mb-5">
        <!-- Privacy policy -->
        <div class="privacy-policy mt-5">
            <h2 style="color: #710101;text-align: center;">Privacy Policy for Mukul Ved Vidyalaya</h2>


            <p>
                At Mukul Ved Vidyalaya, accessible from sgbveda.org, one of our main priorities is the privacy of our
                visitors. This Privacy Policy document contains types of information collected and recorded by Mukul Ved
                Vidyalaya and how we use it. </p>

            <p>
                If you have additional questions or require more information about our Privacy Policy, do not hesitate
                to
                contact us.</p>


            <p> This Privacy Policy applies only to our online activities & is valid for visitors to our website with
                regard
                to the information they share and/or collect in Mukul Ved Vidyalaya. This policy is not applicable to
                any
                information collected offline or via channels other than this website.</p>



            <h3>Consent</h3>

            <p>By using our website, you hereby consent to our Privacy Policy and agree to its terms.</p>


            <h3>Information we collect</h3>
            <p>The personal information you are asked to provide, and the reasons why you are asked to provide it, will
                be
                made clear to you at the point we ask you to provide your personal information.</p>

            <p>If you contact us directly, we may receive additional information about you, such as your name, email
                address, phone number, the contents of the message and/or attachments you may send us, and any other
                information you may choose to provide.</p>
            <p>When you register for an Account, we may ask for your contact information, including items such as name,
                company name, address, email address, and telephone number.</p>


            <h3> How we use your information</h3>
            <b>We use the information we collect in various ways, including:</b>
            <ul>
                <li>Provide, operate, and maintain our website</li>
                <li>Improve, personalize, and expand our website</li>
                <li>Understand and analyze how you use our website</li>
                <li>Develop new products, services, features, and functionality
                </li>
                <li>Communicate with you, either directly or through one of our partners, including for customer
                    service, to
                    provide you with updates and other information relating to the website and for marketing and
                    promotional
                    purposes</li>
                <li>Send you emails</li>
                <li>Find and prevent fraud</li>
            </ul>

            <h3> Log Files</h3>
            <p>Mukul Ved Vidyalaya follows a standard procedure of using log files. These files log visitors when they
                visit websites. All hosting companies do this and are a part of hosting services' analytics. The
                information
                collected by log files includes internet protocol (IP) addresses, browser type, Internet Service
                Provider
                (ISP), date and time stamp, referring/exit pages, and possibly the number of clicks. These are not
                linked to
                any information that is personally identifiable. The purpose of this data is to analyze trends,
                administrate
                the site, track user's movement on the website, and gather demographic information.</p>


            <h3>Cookies and Web Beacons</h3>
            <p>Like any other website, Mukul Ved Vidyalaya uses "cookies". These cookies are used to store information,
                including visitors' preferences and the pages on the website that the visitor accessed or visited. The
                information is used to optimize the users' experience by customizing our web page content based on
                visitor's
                browser type and/or other information.</p>

            <h3>Advertising Partners Privacy Policies</h3>
            <p>You may consult this list to find the Privacy Policy for each of the advertising partners of Mukul
                Ved
                Vidyalaya.</p>
            <p>Third-party ad servers or ad networks use technologies like cookies, JavaScript, or Web Beacons that are
                used in their respective advertisements and links that appear on Mukul Ved Vidyalaya, which are sent
                directly to users' browsers. They automatically receive your IP address when this occurs. These
                technologies
                are used to measure the effectiveness of their advertising campaigns and/or personalize the advertising
                content you see on websites you visit.</p>
            <p><b>Note:</b> Mukul Ved Vidyalaya has no access to or control over these cookies used by third-party
                advertisers.</p>

            <h3>Third-Party Privacy Policies</h3>

            <p> Mukul Ved Vidyalaya's Privacy Policy does not apply to other advertisers or websites. Thus, we are
                advising
                you to consult the respective Privacy Policies of these third-party ad servers for more detailed
                information. It may include their practices and instructions about how to opt out of certain options.
            </p>
            <p>
                You can choose to disable cookies through your individual browser options. To know more detailed
                information
                about cookie management with specific web browsers, it can be found on the browsers' respective
                websites.</p>



            <h3> CCPA Privacy Rights (Do Not Sell My Personal Information)</h3>
            <b>Under the CCPA, among other rights, California consumers have the right to:</b>
            <ul>
                <li> Request that a business that collects a consumer's personal data disclose the categories and
                    specific
                    pieces
                    of personal data that a business has collected about consumers.</li>
                <li>
                    Request that a business delete any personal data about the consumer that a business has
                    collected.</li>
                <li>
                    Request that a business that sells a consumer's personal data; not sell the consumer's personal
                    data.</li>
                <li>If you make a request, we have one month to respond to you. If you would like to exercise any of
                    these
                    rights, please contact us.</li>
            </ul>

            <h3>GDPR Data Protection Rights</h3>
            <p>We would like to make sure you are fully aware of all of your data protection rights. Every user is
                entitled
                to the following:</p>
            <p><b>The right to access –</b> You have the right to request copies of your personal data. We may charge
                you a
                small
                fee for this service.</p>
            <p> <b>The right to rectification –</b>
                You have the right to request that we correct any information you believe
                is
                inaccurate. You also have the right to request that we complete the data you believe is incomplete.</p>
            <p> <b>The right to erasure –</b> You have the right to request that we erase your personal data under
                certain
                conditions.</p>
            <p> <b>The right to restrict processing –</b> You have the right to request that we restrict the processing
                of
                your
                personal data under certain conditions.
            </p>
            <p><b>The right to object to processing – </b>You have the right to object to our processing of your
                personal
                data
                under certain conditions.</p>
            <p><b>The right to data portability –</b> You have the right to request that we transfer the data we have
                collected to
                another organization, or directly to you, under certain conditions.</p>
            <p> If you make a request, we have one month to respond to you. Please contact us if you would like to
                exercise
                any of these rights.</p>
            <h3>Children's Information</h3>

            <p>Another part of our priority is adding protection for children while using the internet. We encourage
                parents and guardians to observe, participate in, and/or monitor and guide their online activity.</p>
            <p>Mukul Ved Vidyalaya does not knowingly collect any Personal Identifiable Information from children under
                the
                age of 13. If you think your child provided this kind of information on our website, we strongly
                encourage
                you to contact us immediately, and we will do our best to remove such data from our records promptly.
            </p>

            <h3>Changes to This Privacy Policy</h3>
            <p> We may update our Privacy Policy from time to time. Thus, we advise you to review this page periodically
                for
                any changes. We will notify you of any changes by posting the new Privacy Policy on this page. These
                changes
                are effective immediately after they are posted on this page.</p>

            <h3>Contact Us</h3>
            <p>If you have any questions or suggestions about our Privacy Policy, do not hesitate to contact us.</p>

        </div>
    </div>
{% include "common/footer.html" %}




    