{% load static %}
<footer>
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-lg-4 col-sm-12">
                    <div class="footer-logo" style="width: 80%;">
                        <img src="{% static 'img/footer-logo.svg' %}" alt="" style="max-width: 150px;">
                        <p style="color: #fff;padding: 20px 0px;">Where academic excellence meets spiritual wisdom
                            and growth, values are cultivated, minds are enlightened, and souls are nurtured as
                            students embrace the timeless wisdom of the Vedas and the richness of cultural
                            traditions. </p>
                        <a href="https://www.facebook.com/"><i class="bi bi-facebook"></i></a>
                        <a href="https://www.instagram.com/"><i class="bi bi-instagram"></i></a>
                        <a href="https://www.linkedin.com/"><i class="bi bi-linkedin"></i></a>
                        <a href="https://www.twitter.com/"><i class="bi bi-twitter"></i></a>
                    </div>
                </div>
                <div class="col-md-8 col-lg-8 col-sm-12">
                    <div class="footer-links">
                        <div class="row">
                            <div class="col-md-4 col-lg-4 col-sm-12">
                                <div>
                                    <h4>Quick Links</h4>
                                    <ul>
                                        <li><a href="{% url 'home' %}" class="active">Home</a></li>
                                        <li><a href="about-us">About</a></li>
                                        <li><a href="about-admission">Admission</a></li>
                                        <li><a href="404-Error">Activities</a></li>
                                        <li><a href="student-life">Student Life</a></li>
                                        <li><a href="gallery">Gallery</a></li>
                                        <li><a href="contact-us">Contact Us</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-4 col-lg-4 col-sm-12">
                                <div>
                                    <h4>Academics</h4>
                                    <ul>
                                        <li><a href="404-Error">Courses</a></li>
                                        <li><a href="404-Error">Faculty</a></li>
                                        <li><a href="calendar">Annual Calendar</a></li>
                                        <li><a href="class-routine">Class Routine</a></li>
                                        <!-- <li><a href="#">Career</a></li> -->
                                        <!-- <li><a href="#">Achievement</a></li> -->
                                        <li><a href="404-Error">Exams</a></li>
                                        <li><a href="404-Error">Results</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-4 col-lg-4 col-sm-12">
                                <div class="footer-contact-info">
                                    <h4>Contact us</h4>
                                    <p style="color: #fff;margin: 10px 0px;">Maluka Ved Vidyalaya, Shri Jadkhor
                                        Godham, Via-Pahalwara, Post- Guhana, Dist- Bharatpur (Rajasthan) 321206
                                    </p>
                                    <a href="tel:+91 8619207496"><i class="bi bi-telephone-fill"></i> +91 8619207496</a>
                                    <a href="mailto:sgbveda@gmail.com"><i class="bi bi-envelope-fill"></i> sgbveda@gmail.com</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom-footer text-center" style="background: #710101;padding: 8px;">
        <p style="color: #fff;">© 2023 Maluka Ved Vidyalaya- All Rights Reserved.</p>
    </div>
</footer>



<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
    </script>

<!-- owl -->
<script type="text/javascript" src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.js">
</script>
<script>
    $(document).ready(function () {
        $("#testimonial-slider").owlCarousel({
            items: 3,
            itemsDesktop: [1000, 2],
            itemsDesktopSmall: [980, 1],
            itemsTablet: [768, 1],
            pagination: true,
            navigation: true,
            navigationText: ["<", ">"],
            autoPlay: true,
        });
    });
</script>

<!-- menu -->

<script>
    (function ($) { // Begin jQuery
        $(function () { // DOM ready
            // If a link has a dropdown, add sub menu toggle.
            $('nav ul li a:not(:only-child)').click(function (e) {
                $(this).siblings('.nav-dropdown').toggle();
                // Close one dropdown when selecting another
                $('.nav-dropdown').not($(this).siblings()).hide();
                e.stopPropagation();
            });
            // Clicking away from dropdown will remove the dropdown class
            $('html').click(function () {
                $('.nav-dropdown').hide();
            });
            // Toggle open and close nav styles on click
            $('#nav-toggle').click(function () {
                $('nav ul').slideToggle();
            });
            // Hamburger to X toggle
            $('#nav-toggle').on('click', function () {
                this.classList.toggle('active');
            });
        }); // end DOM ready
    })(jQuery); // end jQuery
</script>

<!-- country code with flag -->
<script>
    const phoneInput = document.getElementById('phone-input');
  
    const iti = window.intlTelInput(phoneInput, {
        preferredCountries: ['us', 'gb', 'de', 'in'], // Set preferred countries (optional)
        separateDialCode: true, // Display country code separately
        initialCountry: 'in', // Auto-detect the user's country
        placeholder: '1234', // Remove the placeholder text
        formatOnDisplay: true, // Format the number as the user types
        nationalMode: false, // Disable national mode (optional)
        utilsScript: 'https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js' // Load the utils.js file
    });
    
    phoneInput.addEventListener('countrychange', function () {
        const countryCode = iti.getSelectedCountryData().iso2;
        const countryName = iti.getSelectedCountryData().name;
        console.log('Country Code:', countryCode);
        console.log('Country Name:', countryName);
    });
    
</script>
<!-- calendar -->
<script>
    function generate_year_range(start, end) {
        var years = "";
        for (var year = start; year <= end; year++) {
            years += "<option value='" + year + "'>" + year + "</option>";
        }
        return years;
    }
    var today = new Date();
    var currentMonth = today.getMonth();
    var
        currentYear = today.getFullYear();
    var selectYear = document.getElementById("year");
    var
        selectMonth = document.getElementById("month");
    var createYear = generate_year_range(1970, 2050);
    document.getElementById("year").innerHTML = createYear;
    var calendar = document.getElementById("calendar");
    var
        lang = calendar.getAttribute('data-lang');
    var months = "";
    var days = "";
    var
        monthDefault = ["January", "February", "March", "April", "May", "June", "July", "August", "September",
            "October", "November", "December"
        ];
    var dayDefault = ["Sun", "Mon", "Tue", "Wed", "Thu", "Fri", "Sat"];
    if (lang == "en") {
        months = monthDefault;
        days = dayDefault;
    } else if (lang == "id") {
        months = ["Januari", "Februari", "Maret", "April", "Mei", "Juni", "Juli", "Agustus", "September",
            "Oktober", "November", "Desember"
        ];
        days = ["Ming", "Sen", "Sel", "Rab", "Kam", "Jum", "Sab"];
    } else if (lang == "fr") {
        months = ["Janvier", "Février", "Mars", "Avril", "Mai", "Juin", "Juillet", "Août", "Septembre", "Octobre",
            "Novembre", "Décembre"
        ];
        days = ["dimanche", "lundi", "mardi", "mercredi", "jeudi", "vendredi", "samedi"];
    } else {
        months = monthDefault;
        days = dayDefault;
    }
    var
        dataHead = "<tr>";
    for (var dhead in days) {
        dataHead += "<th data-days='" + days[dhead] + "'>" + days[dhead] +
            "</th>";
    }
    dataHead += "</tr>";
    document.getElementById("thead-month").innerHTML = dataHead;
    var
        monthAndYear = document.getElementById("monthAndYear");
    showCalendar(currentMonth, currentYear);

    function
    next() {
        currentYear = (currentMonth === 11) ? currentYear + 1 : currentYear;
        currentMonth = (currentMonth + 1) %
            12;
        showCalendar(currentMonth, currentYear);
    }

    function previous() {
        currentYear = (currentMonth === 0) ?
            currentYear - 1 : currentYear;
        currentMonth = (currentMonth === 0) ? 11 : currentMonth - 1;
        showCalendar(currentMonth, currentYear);
    }

    function jump() {
        currentYear = parseInt(selectYear.value);
        currentMonth = parseInt(selectMonth.value);
        showCalendar(currentMonth, currentYear);
    }

    function
    showCalendar(month, year) {
        var firstDay = (new Date(year, month)).getDay();
        var
            tbl = document.getElementById("calendar-body");
        tbl.innerHTML = "";
        monthAndYear.innerHTML = months[month] + " " +
            year;
        selectYear.value = year;
        selectMonth.value = month;
        var date = 1;
        for (var i = 0; i < 6; i++) {
            var
                row = document.createElement("tr");
            for (var j = 0; j < 7; j++) {
                if (i === 0 && j < firstDay) {
                    var
                        cell = document.createElement("td");
                    var cellText = document.createTextNode("");
                    cell.appendChild(cellText);
                    row.appendChild(cell);
                } else if (date > daysInMonth(month, year)) {
                    break;
                } else {
                    var cell = document.createElement("td");
                    cell.setAttribute("data-date", date);
                    cell.setAttribute("data-month", month + 1);
                    cell.setAttribute("data-year", year);
                    cell.setAttribute("data-month_name", months[month]);
                    cell.className = "date-picker";
                    cell.innerHTML = "<span>" + date + "</span>";

                    if (date === today.getDate() && year === today.getFullYear() && month === today.getMonth()) {
                        cell.className = "date-picker selected";
                    }
                    row.appendChild(cell);
                    date++;
                }
            }
            tbl.appendChild(row);
        }
    }

    function daysInMonth(iMonth, iYear) {
        return 32 - new Date(iYear, iMonth, 32).getDate();
    }
</script>
</body>

</html>