<div class="contact-form">
    <div class="container">
       
        <div class="row">
            <div class="col-md-4 col-lg-4 col-sm-12">
                <div class="contact-form-detail text-center">
                    <div style="margin: 0 auto; max-width: 320px;">
                        <span><i class="bi bi-geo-alt-fill"></i></span>
                        <p style="font-size: 16px;padding-bottom: 10px;">Maluka Ved Vidyalaya, Shri Jadkhor Godham, Via-Pahalwara, Post- Guhana, Dist- Bharatpur (Rajasthan) 321206</p>
                        
                    </div>
                    <div class="mt-5 mb-5">
                        <span><i class="bi bi-telephone-fill"></i></span>
                        <a href="tel:+91 8619207496">+91 8619207496</a>
                        <a href="tel:+91 8000450479">+91 8000450479</a>
                    </div>
                    <div>
                        <span><i class="bi bi-envelope-fill"></i></span>
                        <a href="mailto:sgbveda@gmail.com">sgbveda@gmail.com</a>
                        
                    </div>
                </div>
            </div>
            <div class="col-md-8 col-lg-8 col-sm-12">
                <div class="contact-form-input">
                    <h3 style="color: #800000;text-transform: uppercase;">Get In Touch</h3>
                    <p style="max-width: 780px;margin: 20px 0px;">Connect with us today and embark
                        on a transformative journey. Contact us to learn more about our programs,
                        admissions, and the enriching opportunities that await you. Let's start your
                        path to growth and enlightenment together. </p>
                    <form method="POST" action="about-touch" >
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-6">
                            <input type="text" class="form-control" placeholder="First Name"
                                aria-label="First name" name="first_name" value="{{ form.cleaned_data.first_name }}" >
                                {% if form.first_name.errors %}
                                <div class="error-message">
                                    {% for error in form.first_name.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                                {% endif %}
                        </div>
                        <div class="col-md-6">
                            <input type="text" class="form-control" placeholder="Last Name"
                                aria-label="Last name" name="last_name" value="{{ form.cleaned_data.last_name }}">
                            {% if form.last_name.errors %}
                                <div class="error-message">
                                    {% for error in form.last_name.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </div>
                        <div class="col-md-6">
                            <input type="email" type="email" class="form-control" name="email" 
                                placeholder="Your Email" value="{{ form.cleaned_data.email }}">
                                {% if form.email.errors %}
                                <div class="error-message">
                                    {% for error in form.email.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </div>
                        <div class="col-md-6">
                            <input type="text"  class="form-control" placeholder="Phone Number"
                                name="phone_number" value="{{ form.cleaned_data.phone_number }}">
                            {% if form.phone_number.errors %}
                                <div class="error-message">
                                    {% for error in form.phone_number.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </div>
                        <div class="col-md-12 mb-3">
                            <textarea class="form-control" placeholder="Message" name="message"
                                id="exampleFormControlTextarea1" rows="5" value="{{ form.cleaned_data.message }}"></textarea>
                            {% if form.message.errors %}
                                <div class="error-message">
                                    {% for error in form.message.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </div>
                        <div class="col-md-12">
                            <button type="submit" class="yellow-btn red-btn">Submit</button>
                        </div>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
   
</div>